[2020-05-22 19:29] iamjoshfrank opened #1 "[WIP] Project Areas, Week of 2020-05-26"
## Background

As of Friday afternoon, 2020-05-24, we plan to run a dual track for our 1-week sprint efforts next week:

- **Track A:** React Native Contact Tracing App
  - Prototype an Open Source Contact Tracing App in order to validate/invalidate the hypotheses  that such an app is impactful in the automation, securely and anonymously, the contact tracing process.
  - Even though we plan to lev

[2020-05-22 20:40] iamjoshfrank opened #2 "Update Revelry Public Slack Application Form"
https://community.revelry.co may need to be updated to communicate a more accurate message to contributors.

[2020-05-22 21:24] iamjoshfrank commented on #2
@thomasknoll shipped some quick changes to help address this.

![Screen Shot 2020-05-22 at 4 23 25 PM](https://user-images.githubusercontent.com/10236515/82710502-a5b67d00-9c48-11ea-9dc2-217091795c7e.png)

[2020-05-22 21:24] #2 closed

[2020-05-25 19:15] iamjoshfrank opened #3 "Track B - Customer Research - Links and Resources"
## Background

A (possibly temporary) Issue to gather links specifically for **Track B** for the Week of 2020-05-26.

These links and resources focus on the possibility of removing as many technology barriers as possible in order to connect with and assist some of the hardest hit populations, who often do not have full-featured smartphones with large data limits. Instead, SMS and voice are still k

[2020-05-26 04:47] iamjoshfrank opened #4 "Spike: In/validate `Significant Locations` Theory"
## Background

### Definitions
**Note:** `Significant Locations` in iOS is different from `Significant Change Locations` and often times, due to the similarity in language, the two can be conflated.

[`Signification Locations:`](https://support.apple.com/en-us/HT207056)

[`Significant Change Locations:`](https://developer.apple.com/documentation/corelocation/getting_the_user_s_location/using_the_s

[2020-05-26 04:47] iamjoshfrank opened #5 "Spike: Determine Best Location Service for Proof of Concept"
## Background

This Issue may become unnecessary if we discover by way of [Spike: In/validate `Significant Locations` Theory (#4)](https://github.com/revelry-foundation/nightingale/issues/4) that we can in fact access iOS's `Significant Locations` feature.

However, assuming we cannot use `Significant Locations`, we need to quickly identify the most appropriate way to gather and save each a user's

[2020-05-26 05:32] iamjoshfrank opened #6 "User - Locations - View Private List of My Locations"
_Requires #4, #5_

## Background

After we have made a decision re: Location Service (#4, #5), we can move on to providing a user with a list of their locations.

This list should not be shared to a server at this time. Instead, our aim is to build a private, locally stored list of locations for an appropriate time period to support contact tracing efforts. In later Issues, this list will help the

[2020-05-26 05:38] iamjoshfrank opened #7 "User - Locations - Edit Local List of My Locations"
## Background

It can't be stated enough: users have to have a sense of agency over their private location information and trust the Nightingale app to use this data appropriately. As such, we think we should allow users to remove entries from their list of tracked locations.

## Goals for this Issue

- **Empower the user to have control** over their location data.
- Instill a sense of **privacy a

[2020-05-26 14:24] iamjoshfrank opened #8 "Team Member - Insight Research - Develop Interview Pool"
## Background
We need to leverage our networks to develop an interview pool of Epidemiologists, Mental health workers, community leaders, and community business owners. We want 1:1 connections so that trust has already been established and we can quickly schedule and conduct the interviews for insight.

Again, the list of individuals we are looking for are as follows, 1:1 relationships with
- Epis

[2020-05-26 14:25] iamjoshfrank opened #9 "Team Member - Insight Research - Schedule Customer Interviews"
## Background
Once we have identified all of the candidates in #8, we need to divide and conquer to schedule interviews and mark them as scheduled.

As for related issues, we have #25 for framing the design challenge question and #10 for laying out the interview script. Those can be worked in parallel with this issue, they just need to be ready by the time we conduct the interviews.

## Scenario:

[2020-05-26 14:26] iamjoshfrank opened #10 "Team Member - Insight Research - Develop Interview Script"
## Background
Before conducting the interviews in #27, we need a script to go off of so that all of the data collected can be analyzed for similarities.

We'll structure the interviews around [design challenge question](https://github.com/revelry-foundation/nightingale/issues/25) and schedule them through #9.

## Write an interview Script
- [x] When I complete the interview script
- [x] Then I wil

[2020-05-26 14:26] iamjoshfrank opened #11 "Team Member - Insight Research - Create a Place for Interview Notes, Recordings"
### Background
We need a place for in Google Drive for all of our discovery wrap up materials.

## Scenario: A user creates a G drive
- [ ] When I navigate to the [Nightingale G Drive](https://drive.google.com/drive/folders/1B8l0uzWR-dekg2qflbfvCPTu2kkT1LaG)
- [ ] then I see a folder for Discovery
- [ ] And the team can safely move on to conducting a user interview(#27) with a place to capture fin

[2020-05-26 14:31] iamjoshfrank opened #12 "Team - Insight Research - Post-interview debrief"
## Background
After we have conducted our interview, the interviewer and note-taker should discuss surprises and reflect on what they heard, then place their notes in the Discovery folder on the [project google drive](https://drive.google.com/drive/folders/18e5LHV2LyPUshdBdnfxe_9M4WEZ6Ms7K)

## Scenario: Team members debrief after an interview
- [ ] When I have conducted an interview #27
- [ ] The

[2020-05-26 14:37] iamjoshfrank opened #13 "Team - Insight Research - Review Interview Notes, Synthesize Findings"
### Background
- [x] [Frame design challenge question](https://github.com/revelry-foundation/nightingale/issues/25)
- [x] [Identify customer pool](https://github.com/revelry-foundation/nightingale/issues/8)
- [x] [Reach out and schedule customer interview](https://github.com/revelry-foundation/nightingale/issues/9)
- [x] [Conduct customer interview](https://github.com/revelry-foundation/nightingal

[2020-05-26 14:44] iamjoshfrank opened #14 "Team Member - Design Studios - Create a Plan for Post-Research Ideation"
## Background

Based on the [Customer Research findings (#13)](https://github.com/revelry-foundation/nightingale/issues/13), we can move into an ideation phase to design solutions to agreed-upon problem/opportunity statements.

The **number** of design studios / design thinking exercises / design sprint exercises and the **format** for each should be planned and shared with the team to prepare the

[2020-05-26 14:48] iamjoshfrank opened #15 "Team - Design Studios - Ideation Exercises and Output"
## Background
When the research phase [milestone](https://github.com/revelry-foundation/nightingale/milestone/6) is completed and the Prep Work of #39 has been done, we're ready to move on to actually running the Design Studio exercises and capturing our output.

### Resources
- How to run a [design studio](https://www.mural.co/blog/how-to-run-a-design-studio-remotely-with-mural)
- Mural [Board](h

[2020-05-26 16:43] grossvogel opened #16 "Developer - publish a build to TestFlight"
- [ ] There's a Nightingale app in TestFlight
- [ ] Internal users can download, install, and run the app successfully
- [ ] The working code and configuration are published in [the repo](https://github.com/revelry-foundation/nightingale-mobile) (minus any secrets)

[2020-05-26 16:49] thomasknoll commented on #10
I believe [this doc](https://docs.google.com/document/d/10rMaoEpOBYDD4t9U9E3LlObje8MgxfTIQRuWjruXGTQ/edit) from @jeremybrady is on this path.

[2020-05-26 16:50] thomasknoll commented on #8
I believe @jeremybrady has an initial list identified. I am assuming we can still seek out more.

[2020-05-26 16:57] jeremybrady commented on #8
Yes. [Here](https://docs.google.com/spreadsheets/d/1pkg82J_Lx45qy2x-xrEukeAi3o6t3_ORu_ejn89wcCc/edit?usp=sharing)

*Don't share this pool outside of Revelry for privacy reasons.

Pool is cross-section of
- Epis
- Mental health workers
- PPE creators
- Community Leaders
- Community Business owners

CC @iamjoshfrank for visibility

[2020-05-26 17:00] thomasknoll commented on #10
starting off this process in https://us02web.zoom.us/j/7496378450

[2020-05-26 17:08] iamjoshfrank commented on #8
Closed because the list is complete and there's no further work to do on it?

Or accidentally closed upon comment?

[2020-05-26 17:08] iamjoshfrank commented on #1
This Issue has served its purpose (was primarily for planning and thought organization).

Closing.

[2020-05-26 17:08] #1 closed

[2020-05-26 17:16] iamjoshfrank opened #17 "ClusterOps - Set Up Kubernetes Cluster w/ Moondog"

[2020-05-26 17:20] iamjoshfrank commented on #16
@grossvogel @Sahedeva - feel free to mimic Joel's behavior and drop a `points: n` label on this Issue with your estimate, when you get a chance.

Then you can "Finish" in the `Estimate` column and "Start" in the `Implement` column.

[2020-05-26 17:29] vegasgeek opened #18 "DevOps - Hosting - Planning"
## Background

WordPress based projects are hosted, by default, on the Revelry WPEngine account.

This is the first ticket to discuss hosting options with Product Owners as new projects kickoff.

A Product Owner may choose to host the live website on their own account. This would, however, impact development as it relates to continuous integration.

## Scenario: Host on Revelry WPEngine account
Gi

[2020-05-26 17:29] vegasgeek opened #19 "Developer - Setup CI for project website"
_connects to #20 and #21_

[2020-05-26 17:42] jeremybrady commented on #8
Oops, that.

[2020-05-26 18:14] HauwaAguillard commented on #8
@jeremybrady added Dr. Murelle G. Harrison, Executive Director of the Gardere Initiative, and Prof. at Southern University to the list. She would be a good contact person for South Baton Rouge. She is also a licensed Industrial/Organizational Psychologist, not sure if to categorize her under mental health worker or community leader but she is both

[2020-05-26 18:46] thomasknoll commented on #8
quick update to clarify: I don't really have good networks to add more folks to the list, so I can either grab some folks and run some of my own interviews, or join someone else as a note taker. I am 100% onboard for working through the next steps with the information we learn from these interviews.

[2020-05-26 18:53] jeremybrady commented on #10
**Contact Tracing**
Discovery Contextual Inquiry

**Interview checklist**
Stakeholder and user interviews often progress through key moments: introductions lead to warm-up questions, which lead to topic-specific questions, activities, etc. This checklist outlines those key moments, and suggests things to do as you go through them. Revelry Staff, please see this Google Doc Template

**Pre-interview

[2020-05-26 18:56] jeremybrady commented on #9
Hi contact's first name,

Hope this note finds you well.

My name is x and I work at [Revelry.co](http://revelry.co/), a design and development firm based here in New Orleans.

We need your help to influence the creation of a contact tracing tool directed by the Louisiana Department of Health. We’re specifically looking to develop a better way for people to share their COVID-19 status safely and a

[2020-05-26 18:56] alinelea commented on #8
[Slack thread](https://revelry-public.slack.com/archives/C014AR56T1P/p1590516751113600)

[2020-05-26 19:34] westonmcwhorter opened #20 "Developer - Continuous Integration - Develop branch pushes to Staging"
## Background
Automatic deployments are more efficient and provide clarity as to what was deployed.

## Scenario: PRs with passing tests get deployed when merged

Given CI tests are set up for the project
And the tests pass for a pull request

- [ ] When the PR is merged
- [ ] Then it is deployed to our server (Staging, Production or otherwise)
- [ ] And the deployment script sends a release notif

[2020-05-26 19:36] westonmcwhorter opened #21 "Developer - Continuous Integration - Master branch pushes to Production"
## Background
Automatic deployments are more efficient and provide clarity as to what was deployed.

## Scenario: PRs with passing tests get deployed when merged
Given CI tests are set up for the project
And the tests pass for a pull request
 - [ ] When the PR is merged
 - [ ] Then it is deployed to our server (Staging, Production or otherwise)
 - [ ] And the deployment script sends a release noti

[2020-05-26 19:37] westonmcwhorter commented on #19
Standard tooling tasks.

[2020-05-26 19:41] westonmcwhorter commented on #20
Standard tooling tasks.

[2020-05-26 19:41] westonmcwhorter commented on #21
Standard tooling tasks.

[2020-05-26 19:50] CurtisVonRubenhoff commented on #17
I started on the flux config for the app. The pr is currently pointed at revelry-prod, but can be redirected when nightingale cluster is spun up

https://github.com/revelrylabs/our-flux/pull/345

[2020-05-26 19:51] westonmcwhorter opened #22 "Developer - Project Setup - Staging Site"
## Background
We are now putting all new WordPress projects on the Revelry WPEngine account, unless specified otherwise by the Product Owner. Some Product Owners may choose to use their own hosting as an alternative solution.

Once the production site URL has been determined and the site stood up, we need to add it to the `README.md`.

## Scenario: Add Project to Revelry WPEngine Account
Given I a

[2020-05-26 19:52] DejaTrudeaux commented on #5
@iamjoshfrank Here's some of our findings from our Zoom call, and this is the Google Doc we've been hashing it out on since >> https://docs.google.com/document/d/1TUgPYizBos2mcHIBgcPdJ5e_C4cJtYeb0YDoHYnQ8hc/edit

Limitations:
Using Apple’s Signification Locations, we are unable to get location history from weeks before. We talked a little bit about using another API to get previous locations but d

[2020-05-26 19:53] westonmcwhorter opened #23 "Developer - Project Setup - Production Site"
## Background
We are now putting all new WordPress projects on the Revelry WPEngine account, unless specified otherwise by the Product Owner. Some Product Owners may choose to use their own hosting as an alternative solution.

Once the production site URL has been determined and the site stood up, we need to add it to the `README.md`.

## Scenario: Add Site to Revelry WPEngine Account
Given I am d

[2020-05-26 20:01] iamjoshfrank commented on #4
@DejaTrudeaux @jrotolo @Samkeer1 - I'm starting to read through y'all's findings in #5 and want to gut check: you've ruled out `Significant Locations` and thus we should be able to close this Issue (#4), correct?

[2020-05-26 20:08] Samkeer1 commented on #4
@iamjoshfrank in terms of onboarding, Significant Locations aren't useful when it comes to establishing preexisting Covid risk, because we can't access locations from before the app is installed. I'm not sure if its been fully ruled out from being useful in the app.

The following article explains how background location events can trigger the automatic launch of an app, and this might be helpful

[2020-05-26 20:12] DejaTrudeaux commented on #4
yes i believe that is correct, @jrotolo and @CurtisVonRubenhoff ?

[2020-05-26 20:13] iamjoshfrank commented on #5
_**tl;dr**_

- _move forward with `Visits Location Service` approach to gathering user's own location data by way of #6 **(unless you get further technical review from outside your research team that says "stop")**_
- _hold on proposed onboarding flow outside of friendly, informative prompt for location permissions_

@DejaTrudeaux et al.:

I **love, love, LOVE** that y'all are putting your user-fi

[2020-05-26 20:14] HauwaAguillard commented on #5
Leveraging public health data we could start here: http://ldh.la.gov/coronavirus/

[2020-05-26 20:15] iamjoshfrank commented on #4
Keeping in mind that `Significant Locations` is different from `Significant Change Locations`, looks like we're clear to close this. `Significant Locations` is Apple's own black box, encrypted set of location history that Apple does not make accessible for use by third party apps.

And, based on notes in #5, looks like your research team is recommending `Visits Location Service` over `Significant

[2020-05-26 20:15] #4 closed

[2020-05-26 20:23] DejaTrudeaux commented on #5
@iamjoshfrank I wonder if, given the limitation of not knowing our exact "hot spots" at this moment, we can just have some type of autocomplete form situation that allows someone to type places in and choose from a dropdown whichever one they meant, and add as many as they'd like?

Eventually with enough users doing this it would become more obvious where the hot spots are at...? Just thinking out

[2020-05-26 20:24] iamjoshfrank commented on #5
@HauwaAguillard - possibly. But I feel strongly that there are too many unknowns to include this _for this week,_ because:

- there's no indication we can get a live feed via API of the LDH data, and so we might have to build a feature to download and ingest the data on a regular time interval (expands the scope)
- based on a quick review of the data points at http://ldh.la.gov/coronavirus/, they

[2020-05-26 20:29] iamjoshfrank commented on #5
This sounds more like, "ask the users to supply their own understanding of where hotspots exist," which isn't what we're trying to achieve.

Happy to hop on Zoom to clarify further if needed.

What I'm proposing is we focus our efforts _after_ the first bullet point y'all outlined:

[2020-05-26 20:33] DejaTrudeaux commented on #5
Oh, I see what you're saying. I may not have explained well enough. What I meant was that a user would be able to type in _their_ previous locations from the past couple weeks, disregarding what a hot spot is in the onboarding process and just leaving it up to the user to provide their recent whereabouts.

But sounds good, I will switch gears and start thinking about next steps on second bullet po

[2020-05-26 20:37] iamjoshfrank commented on #5
Great, and I'll keep in mind the suggestion re: manually creating a list of locations during or after onboarding.

Carry on! (and try to update status on kanban when you can)

[2020-05-26 20:51] Samkeer1 commented on #5
To use location services in the first place, there's a location services authorization prompt in which we are required(I think) to specify the reason we're using a user's location data. https://developer.apple.com/documentation/corelocation/requesting_authorization_for_location_services

[2020-05-26 21:00] DejaTrudeaux commented on #5
I've been having a gander at this:
https://developer.apple.com/documentation/corelocation/getting_the_user_s_location
trying to decide which seems best for our purposes. I think we can rule out `Standard Location Service` as it seems to do much more than we need.

Between `Visits Location Service` and `Significant-change location service` I think `Visits location service` would probably work best

[2020-05-26 21:01] CurtisVonRubenhoff opened #24 "Track A - Server - User Reported Location Schema and API"
The first step to building out the api to ingest user location data to make our contract tracing work is to decide how we are storing the data in the database. I think ultimately this will be based on how we collect the data in the first place (Discussion on that happening in #5).

I think the core database table should be structured something like this:
[code]

I'm assuming here that keeping trac

[2020-05-26 21:07] jwietelmann commented on #5
@DejaTrudeaux Do any of those provide access to history, though? If so, that's our most important differentiator.

[2020-05-26 21:10] HauwaAguillard commented on #8
@jeremybrady I see we've added 👇 to the email template

Would that be a user group to be added here?

[2020-05-26 21:15] westonmcwhorter commented on #8
I have some friends in the mental health space. Would that be a good cohort to include in our outreach?

[2020-05-26 21:20] DejaTrudeaux commented on #5
@jwietelmann I don't want to be the one to make the final call, but I think we realized that none of these allow access to previous location history bc of a privacy concern. So we talked about taking a different approach which involves an onboarding process asking the user to provide that information.
see here: https://github.com/revelry-foundation/nightingale/issues/5#issuecomment-634242685

plea

[2020-05-26 21:23] brittneybrown commented on #8
i have a friend in hospital admin who is heading up the covid response at an integris hospital in OKC. is this someone we may want to interview?

[2020-05-26 21:25] BenRongey commented on #8
It shouldn't necessarily be ER people.  As this has expanded the majority of work has gone from the ER to the ICUs.  In fact the ER in NOLA is super slow the past few weeks.  This should read something like `Critical Care nurses & doctors` to reflect both ICU/Covid wards && ERs/EDs.

[2020-05-26 21:26] brittneybrown commented on #8
i asked and she agreed, so i'm just going to put her on the sheet.

[2020-05-26 21:29] jeremybrady commented on #8
Hi team, I love the energy around this, so firstly thank you for your additions. To help funnel our efforts a couple asks for ya'll

At this point we're specifically looking for;
1. 2-3 Community leaders within Louisiana that you ideally have a 1:1 connection with
2. 2 Mental health workers within Louisiana that you ideally have a 1:1 connection with

Thanks in advance.

[2020-05-26 21:31] jwietelmann commented on #5
If engineering has completed the research to figure out if/how we can get history (sounds like we have), and we don't have big engineering concerns about any which of these ways we end up going (sounds like we don't), then it's time to present your findings to product for them to pick from (cc @iamjoshfrank)

(Also, keep in mind that pinpoint GPS accuracy may _not_ in fact be the most important th

[2020-05-26 21:40] jwietelmann commented on #5
If anyone ends up liking the "manually download from google" route, one can go here to download their entire location history: https://takeout.google.com/settings/takeout

[2020-05-26 21:46] jwietelmann commented on #17
We are very close to finished here.

[2020-05-26 21:48] jwietelmann commented on #17
@grossvogel is getting the YAML templates together to commit to https://github.com/revelry-foundation/nightingale and then we should theoretically be off to the races.

[2020-05-26 21:50] jeremybrady opened #25 "Team Member - Discovery Research - Frame a question"
### Background
Develop a contact tracing tool directed by Louisiana Department of Public Health

### When
- [x] Frame the design challenge as question using [the five whys](https://en.wikipedia.org/wiki/Five_whys)
_"How might we [insert problem] for [[audience/proto-persona](https://uxdesign.cc/ux-creating-proto-personas-76a1738401a2)] so that they can [perform action that solves for the problem]?

[2020-05-26 21:53] jwietelmann commented on #18
Revelry Labs WPEngine is fine if it speeds up initial delivery.

[2020-05-26 22:07] brittneybrown opened #26 "Spike: Scope of `COVID-19 Status`"
The purpose of this Spike is to determine the scope of work to support users ability to manage their COVID-19 status in the app. I have a proposed solution which includes tracking testing as well as current COVID-19 statues. There is also a route to create an MVP version of this effort which only allows the user to enter/edit their COVID-19 status and not capture testing as a data point.

## Backg

[2020-05-26 22:08] iamjoshfrank commented on #24
@CurtisVonRubenhoff - solid write-up. Thank you! Here's my feedback and I'm happy to hear pushback from others!

---

We don't need location data to leave the phone from users that remain negative. Our assumption is this will help with building trust in the system (we only upload your location data after you've indicated you tested positive; and anonymously; and only in order to help keep those in

[2020-05-26 22:14] jeremybrady commented on #25
_"How might we identify and enable through the direction of public health officials, trusted contact tracers within the community with the means to securely and anonymously identify those with COVID-19?"_

[2020-05-26 22:40] grossvogel commented on #17
@CurtisVonRubenhoff You'll want to make your PR for app setup in the https://github.com/revelry-foundation/nightingale-cluster repo, against the `master` branch.

@jwietelmann The flux stuff is merged, but now I'm noticing this in the flux logs:
[code]

It _seems_ like it's decoding the ssh key fine and mapping it to the right GitHub user, but running into a permission problem?

[2020-05-26 22:49] DejaTrudeaux commented on #24
i took `reported_covid_symptoms` to mean a person is experiencing covid symptoms but hasn't taken a test or gotten results yet, like this would be a boolean? if so i'd be afraid of hypochondriacs saying yes here and messing up the data.. 🤔

jw the difference between `reported_covid_positive` and `verified_covid_positive`

how would we calculate percentage of people present at a hotspot with positi

[2020-05-26 23:03] iamjoshfrank commented on #5
Yep, this all confirms my assumptions (re: Apple doesn't provide a way for a newly-installed app to access existing location history that might already reside on the phone). As I prepped over the weekend for this week's Spring, and after reviewing the documentation and the Stack Overflow question I linked to in #4, I absolutely came into today with the assumption there would be no good way to get

[2020-05-26 23:33] brittneybrown commented on #26
note to self: see if this has any HIPPA or other privacy complications

[2020-05-27 14:05] Mcscott142 opened #27 "Team - Insight Research - Conduct Interviews"
## Background
Once we have completed the [recruitment and planning milestone](https://github.com/revelry-foundation/nightingale/milestone/5), we should have interviews scheduled and ready to roll in conducting them.

<details>
<summary>Interview Script</summary>

**Contact Tracing**
Discovery Contextual Inquiry

**Interview checklist**
Stakeholder and user interviews often progress through key mom

[2020-05-27 14:08] Samkeer1 commented on #5
@iamjoshfrank Regardless of which service we use, it looks possible to set a 'distanceFilter' to set how far a user needs to move before location updates happen.
<img width="857" alt="Screen Shot 2020-05-27 at 9 03 27 AM" src="https://user-images.githubusercontent.com/43652523/83030523-3dc1b700-9ff9-11ea-8c3d-b71643d1480f.png">

[2020-05-27 14:09] jwietelmann commented on #5
Correct @Samkeer1 - And we should use it no matter what because of battery considerations, at a minimum.

[2020-05-27 14:13] jwietelmann commented on #5
If either option gives us things like addresses/business/pubic space names, then as far as I'm concerned it's kind of a coin toss unless there are implications one way or the other for, say, background usage. I somewhat suspect it won't matter that much and we can pivot fairly easily if the first one we try turns out not to be the ideal.

[2020-05-27 14:18] Samkeer1 commented on #5
I agree. It might not even matter, but Visits seems to provide a specific location. Background usage-wise, they're both pretty efficient. Here are the documented breakdowns of the two services:
<img width="759" alt="Screen Shot 2020-05-27 at 9 14 14 AM" src="https://user-images.githubusercontent.com/43652523/83031741-90e83980-9ffa-11ea-8934-ebb24247ecd1.png">

[2020-05-27 14:20] jwietelmann commented on #5
Let's just start with Visits and go from there. Find us a React Native lib that can do it in the background.

[2020-05-27 14:25] brittneybrown commented on #26
#### PACT: Private Automated Contact Tracing
https://pact.mit.edu/

#### GOP Plan to introduce data privacy around contact tracing privacy bill
https://www.commerce.senate.gov/2020/4/wicker-thune-moran-blackburn-announce-plans-to-introduce-data-privacy-bill
Writeup on bill where we can learn from some of the concerns being addressed
https://www.theverge.com/2020/5/1/21243977/gop-senators-contact-t

[2020-05-27 14:28] brittneybrown commented on #26
note to self: follow up with LM (@brittneybrown's lawyer friend) re this text

[2020-05-27 14:34] iamjoshfrank commented on #5
Agree! Get this closed and move over to #6 to start design/implementation.

[2020-05-27 14:35] #5 closed

[2020-05-27 14:36] iamjoshfrank commented on #6
Decision made on #5, ready to estimate and get rolling.

[2020-05-27 14:44] vegasgeek commented on #23
The production site is setup and can be found here:
https://nightingaleweb.wpengine.com/

Still waiting for word on what the live URL will be.

I've created a support user account and added it to a Nightingale folder in rPass that has been shared with Wes, Aline, & Laura. I can share with others as needed.

[2020-05-27 14:47] vegasgeek commented on #22
The staging site has been stood up, but won't be in use until after launch of production site at which time I'll copy the styles/content from production and move it to staging.

The URL is: http://nightingalestg.wpengine.com/

No support login has been created on the site just yet. This ticket can stay open until then.

[2020-05-27 14:54] westonmcwhorter opened #28 "Landing Page - Content - Header"
## Background
Our landing page aims to be simple and informative. It's really less about marketing a particular product than it is about informing visitors what we're up to, how they can get involved and how they can get the app themselves.

That being said, it should still look nice and pro.

## Scenario: Landing Page Header
Given I am a visitor to the **Nightingale For Health** landing page,
- [

[2020-05-27 14:56] vegasgeek commented on #21
I'm at a loss for how to complete this task.

- WPEngine requires that I have a public key from Travis in order to allow Git pushes from Travis to the server.
- Travis does not generate keys for public Github repos
- Nightingale's site is a public repo

I have pushed the code to the server directly from my own machine, so there's not an URGENT need to find a solution to the above. But, I sense tha

[2020-05-27 14:57] vegasgeek commented on #19
This ticket was replaced by #20 and #21

closing.

[2020-05-27 14:57] #19 closed

[2020-05-27 15:11] westonmcwhorter opened #29 "Landing Page - Content - Mission"
## Background
Our landing page aims to be simple and informative. It's really less about marketing a particular product than it is about informing visitors what we're up to, how they can get involved and how they can get the app themselves.

That being said, it should still look nice and pro.

## Scenario: Landing Page Mission
Given I am a visitor to the **Nightingale For Health** landing page,
-

[2020-05-27 15:11] jwietelmann commented on #17
I just gave `revelry-foundation-machine-user` read/write on the cluster repo.

[2020-05-27 15:12] westonmcwhorter opened #30 "Landing Page - Content - Objectives"
## Background
Our landing page aims to be simple and informative. It's really less about marketing a particular product than it is about informing visitors what we're up to, how they can get involved and how they can get the app themselves.

That being said, it should still look nice and pro.

## Scenario: Landing Page Mission
Given I am a visitor to the **Nightingale For Health** landing page,
-

[2020-05-27 15:13] westonmcwhorter opened #31 "Landing Page - Content - Get Involved"
## Background
Our landing page aims to be simple and informative. It's really less about marketing a particular product than it is about informing visitors what we're up to, how they can get involved and how they can get the app themselves.

That being said, it should still look nice and pro.

## Scenario: Landing Page Get Involved
Given I am a visitor to the **Nightingale For Health** landing pag

[2020-05-27 15:14] westonmcwhorter opened #32 "Landing Page - Content - Partners"
## Background
Our landing page aims to be simple and informative. It's really less about marketing a particular product than it is about informing visitors what we're up to, how they can get involved and how they can get the app themselves.

That being said, it should still look nice and pro.

## Scenario: Landing Page Partners
Given I am a visitor to the **Nightingale For Health** landing page,
-

[2020-05-27 15:18] grossvogel commented on #17
Cool, thanks! Looks like it's working now (despite flux logs being _really_ hard to parse)

[2020-05-27 15:20] westonmcwhorter opened #33 "Landing Page - Content - Footer"
## Background
Our landing page aims to be simple and informative. It's really less about marketing a particular product than it is about informing visitors what we're up to, how they can get involved and how they can get the app themselves.

That being said, it should still look nice and pro.

## Scenario: Landing Page Header
Given I am a visitor to the **Nightingale For Health** landing page,
- [

[2020-05-27 15:40] CurtisVonRubenhoff commented on #17
@grossvogel @jwietelmann gonna get those files added to that repo. can one of your fine gentlemen help me with a sealed s3 secret to add in

[2020-05-27 16:20] HauwaAguillard commented on #9
@jeremybrady do we send out the meeting invite along with this [Design Research Participant Agreement](https://docs.google.com/document/d/1iYeAvAwK7_t2Cez-QH-HdrDs1ANImaF3X5Qz0-T9gZs/edit) ? do the participants have to sign it first?

[2020-05-27 16:21] jeremybrady commented on #9
Optional and leaving that decision up to people on a case to case basis.

[2020-05-27 16:29] grossvogel commented on #17
Grafana OAuth isn't working properly and my best guess is that it's caused by some unescaped special characters in the client secret. (Grafana consumes its config via an `.ini` file.) Working on a PR to update that and I'll build on revelry-foundation/nightingale-cluster#3 to make sure I don't blow away @jwietelmann's work there

[2020-05-27 16:35] Mcscott142 commented on #27
Pasting Interview Scripts here as it may be easier to read via comment than in Background. This one is specifically for epidemiologists.

---

**Contact Tracing**
Discovery Contextual Inquiry

**Interview checklist**
Stakeholder and user interviews often progress through key moments: introductions lead to warm-up questions, which lead to topic-specific questions, activities, etc. This checklist ou

[2020-05-27 16:36] Mcscott142 commented on #27
Pasting Interview Script here as it may be easier to read via this comment. This one is specifically for all other types: Mental Health workers, community leaders, and business owners.

---

**Contact Tracing**
Discovery Contextual Inquiry

**Interview checklist**
Stakeholder and user interviews often progress through key moments: introductions lead to warm-up questions, which lead to topic-specif

[2020-05-27 16:41] iamjoshfrank commented on #6
Good sync w/ @DejaTrudeaux and @samkeer1 on this Issue. We discussed the difference between local storage and cloud storage; why we think local storage is important; and to plant seeds for #7 and future Issues. We think the path is clear to begin the tasks necessary to design and implement this feature.

[2020-05-27 16:48] westonmcwhorter commented on #28
@westonmcwhorter is going to provide some visual design direction for this deliverable.

[2020-05-27 16:49] westonmcwhorter commented on #29
@westonmcwhorter is going to provide some visual design direction for this deliverable. @alinelea is going to be heading up content.

[2020-05-27 16:49] westonmcwhorter commented on #30
@westonmcwhorter is going to provide some visual design direction for this deliverable. @alinelea is going to be heading up content.

[2020-05-27 16:50] westonmcwhorter commented on #31
@westonmcwhorter is going to provide some visual design direction for this deliverable. @alinelea is going to be heading up content.

[2020-05-27 16:52] westonmcwhorter commented on #31
This content is going to be related to how to get access to our GitHub account, etc.

[2020-05-27 16:52] westonmcwhorter commented on #32
@westonmcwhorter is going to provide some visual design direction for this deliverable. @alinelea is going to be heading up content.

[2020-05-27 16:53] westonmcwhorter commented on #32
Could be just watermark logos for who's involved (ie, Revelery, LDH, State of LA, etc.)

[2020-05-27 16:54] westonmcwhorter commented on #33
@westonmcwhorter is going to provide some visual design direction for this deliverable. @alinelea is going to be heading up content.

[2020-05-27 16:56] Mcscott142 opened #34 "Team - Insight Research - Create a Validation Board"
## Background
Once a team member has conducted an interview, they should be ready to make a list of their core assumptions and risks to be used in the upcoming Design thinking exercises. We can do this using a Validation Board.

## Scenario: A Team Member creates a Validation board
- [ ] When I have conducted an interview and gone through the debrief (#27 & #12)
- [ ] Then I create a Validation bo

[2020-05-27 17:25] westonmcwhorter commented on #28
@vegasgeek, here's an idea for a featured homepage image. Photo by [Clayton Cardinalli](https://unsplash.com/@clayton_cardinalli) on Unsplash.

![clayton-cardinalli-A1VKC7FNpUE-unsplash](https://user-images.githubusercontent.com/45366606/83052545-17117980-a015-11ea-94e8-54761fd273fe.jpg)

[2020-05-27 17:44] Mcscott142 commented on #11
Going to close this. Discovery folder exists and actual discovery work is guided through other issues in https://github.com/revelry-foundation/nightingale/milestone/6

[2020-05-27 17:44] #11 closed

[2020-05-27 17:45] Mcscott142 commented on #10
Interview Script is created with all attributes and placed in #27 for people to reference when conducting the interviews. Closing this one.

[2020-05-27 17:45] #10 closed

[2020-05-27 18:43] alinelea commented on #28
One quick takeaway from the last community leader interview I was just on, we will need to have Spanish and even Vietnamese copy versions in order to reach those communities and community leaders. Not sure we have time to get a translated site up by Friday, but perhaps a sentence or two in Spanish would prove our inclusivity of this project.

[2020-05-27 18:46] alinelea commented on #12
Dr Danielle Thomas interview notes: https://docs.google.com/document/d/1cqLblhTksuQ4vovPjJFTBd_p0ccdpSHeHau-6WC25DI/edit?usp=sharing working on the debrief with @HauwaAguillard now, but we also have another interview coming up at 2pm shortly.

[2020-05-27 18:53] iamjoshfrank commented on #28
**Quick response: if it seems achievable, set up WP to support _internationalization (i18n)_ so that _localization (*l10n*)_ can occur down the road.**

Having an *i18n* framework in place really opens up a world (pun intended) of opportunity for non-Revelry contributors that aren't software engineers, designers, or product people; but instead are translators and others within the multilingual com

[2020-05-27 18:57] westonmcwhorter commented on #28
@alinelea and @iamjoshfrank, I haven't even heard the whole story, but I would agree 100% that these populations are likely in the "super vulnerable" category.

@vegasgeek, I think this is a nice feature out the box. And while we may not be able to have the site fully translated by then, there IS always **Google Translate**, right?

[2020-05-27 18:58] Samkeer1 opened #35 "User - Auth - Remove Getting Started and Account Creation"
As a user doesn't require authentication, we need to remove the UI components related to account creation and getting started, and send a user straight to 'Home'.

[2020-05-27 18:58] jwietelmann commented on #28
IMO unless it's practically a 1-click install, just ship English and then go back and refactor it into an i18n thing if there's time.

[2020-05-27 18:59] grossvogel opened #36 "User - Auth - Remove Getting Started and Account Creation"
Due to the anonymity of everything, this app won't have any user authentication, so we should remove all of the views and code related to user auth, login, sign-up, etc.

## Scenario: No User Account, No Auth

Given I have downloaded the app
- [x] When I open the app
- [x] Then I am not prompted to create an account
- [x] And I am not prompted to log in to an existing account

[2020-05-27 19:02] bmccrossen commented on #28
@westonmcwhorter wanna veto that home page photo. Only 1 woman and everyone is white. I strongly encourage we consider the communities that Covid is impacting the most. It's the right thing to do.

[2020-05-27 19:02] #35 closed

[2020-05-27 19:02] grossvogel commented on #36
I put revelry-foundation/nightingale-mobile#3 together while working on other mobile app setup.

[2020-05-27 19:03] westonmcwhorter opened #37 "Landing Page - Content - Multilingual/Translate Feature"
## Background
During a discovery interview, @alinelea gathered that it would be wise for us to consider multiple language options for the site; specifically Spanish and Vietnamese. While we may not have time in this sprint for a full translation, perhaps there is a quick, off the shelf page translator we can leverage.

## Scenario: Multilingual/Translate Feature
Given I am a visitor to the **Night

[2020-05-27 19:04] westonmcwhorter commented on #28
@bmccrossen, 100% understand. Was a quick search to stand as a placeholder, really. But heard.

[2020-05-27 19:19] jeremybrady commented on #28
Posting high level design direction w/ minor edits [from slack thread here for visibility.](https://revelry-public.slack.com/archives/C014AR56T1P/p1590598224306900?thread_ts=1590595830.293100&cid=C014AR56T1P)

**Start with [Why ahead of making design decisions](https://github.com/revelry-foundation/nightingale/issues/25#issuecomment-634309049)** 

**Build for the audience** Trusted community leade

[2020-05-27 19:20] iamjoshfrank commented on #28
@jwietelmann - exactly!!

"if it seems achievable"
"capturing ^^ in an Issue for prioritization; or making the call and punting on it for now"

stepping away from this topic now...

[2020-05-27 19:28] iamjoshfrank commented on #26
Solid thinking, @brittneybrown . I'm going to double-down on what I wrote in Slack now that I've had a chance to digest what you have pulled together here.

**tl;dr - we're definitely on the MVP (or "Core Loop") track right now**

---

[via Slack](https://revelry-public.slack.com/archives/C014AR56T1P/p1590606407357000?thread_ts=1590523037.158100&cid=C014AR56T1P)

1. We're not asking users to creat

[2020-05-27 19:32] iamjoshfrank commented on #26
For this week's iteration, we should keep status change as simple as possible and mostly use the "mark myself positive" action as a trigger for asking the user to anonymously share their location history (during the period they were likely contagious) for the benefit of the greater community.

This also means, _for this iteration,_ it probably makes the most sense to focus on **people taking a COV

[2020-05-27 19:38] CheetoMao opened #38 "App Styleguide"
We need at least a rough outline of what this app should look like. Sticking with our template parts for faster implementation, I'd like to outline a few aspects of the app design so that we can make sure it's appealing to our audience.

- [x] quick logo treatment with element that can be used for app icon (@westonmcwhorter)
- [ ] colors defined
- [ ] basic type treatment
- [ ] list component (for

[2020-05-27 19:38] iamjoshfrank commented on #26
@brittneybrown - I think you should run with the MVP headlines. And I think the first two can be consolidated. I would like some clarification on what is intended with the third (Engineer alert).

See also my notes in your spreadsheet and my Comments above that might guide you in Issue writing for this Milestone.

[2020-05-27 19:39] CheetoMao commented on #38
re-Posting high level design direction w/ minor edits [from slack thread here for visibility.](https://revelry-public.slack.com/archives/C014AR56T1P/p1590598224306900?thread_ts=1590595830.293100&cid=C014AR56T1P)

**Start with [Why ahead of making design decisions](https://github.com/revelry-foundation/nightingale/issues/25#issuecomment-634309049)** 

**Build for the audience:** Trusted community l

[2020-05-27 19:39] westonmcwhorter commented on #28
@vegasgeek, I think this is a little better. https://unsplash.com/@belchev?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText

![dimitar-belchev-TQZ7OqSEG6Q-unsplash](https://user-images.githubusercontent.com/45366606/83064683-c8210f80-a027-11ea-888d-dfc1d44e4a9b.jpg)

[2020-05-27 20:01] westonmcwhorter commented on #38
I want to raise my hand here real quick to say that I am going to work on both a LOGO treatment (timeboxing for about an hour or so) and the key visual for the top of the landing page.

[2020-05-27 20:26] westonmcwhorter commented on #38
@vegasgeek, here's an option.

![nightingale_logo_v2](https://user-images.githubusercontent.com/45366606/83068701-58625300-a02e-11ea-8704-a518a977ea7d.png)

[2020-05-27 20:30] grossvogel commented on #17
After a small hitch on the grafana client secret fix, I got it deployed and things are working.
- [X] Grafana with OAuth
- [X] Gangway OAuth to get kubectl creds
- [X] Prometheus showing happy metrics targets (with oauth proxy)
- [X] Flux is updating things
- [X] Velero logs look healthy and I see backups in S3
- [ ] Harbor is healthy but we haven't pushed or pulled any images AFAIK
- [ ] Navigato

[2020-05-27 20:52] vegasgeek commented on #38
I like it, @westonmcwhorter. Could I get a version with just the bird and the word Nightingale to use for the header bar? The extra text at the bottom will be a bit busy/hard to read in the header.

[2020-05-27 20:59] Mcscott142 opened #39 "Team Member - Design Studio - Prep Work"
## Background
Before we start the Design Studio work and after you have completed your Validation Board in #34, there is a little prep work to be done. The current plan is to have this exercise on 5-28, starting at 2 pm. Be on the lookout for a cal invite.

Most of this is listed in @jeremybrady's Mural article https://www.mural.co/blog/how-to-run-a-design-studio-remotely-with-mural, but adding th

[2020-05-27 21:04] CheetoMao commented on #38
@westonmcwhorter you got that design file on the drive somewhere? Will need the OG file so we can break it up for app icons and whatnot.

[2020-05-27 21:16] jwietelmann opened #40 "Server: Install kubectl via asdf not Homebrew"

[2020-05-27 21:40] alinelea commented on #12
Posting the key takeaways from the two interviews @HauwaAguillard and I conducted today in order to shine on light on these nuggets for the entire Nightingale team.

## [Dr. Danielle Thomas Interview](https://docs.google.com/document/d/1cqLblhTksuQ4vovPjJFTBd_p0ccdpSHeHau-6WC25DI/edit) Key Takeaways
**About the interviewee and their role in their community**
- Dr. Danielle Thomas got her Masters a

[2020-05-27 21:49] westonmcwhorter commented on #38
@vegasgeek and @CheetoMao, you got it. Standby.

[2020-05-27 21:54] westonmcwhorter commented on #38
Hey, @CheetoMao and @vegasgeek, can find stuff here // https://drive.google.com/open?id=1UuS3yO5MMp7Yzuj4BAZ2sL0MjEro2isu

[2020-05-27 22:55] HauwaAguillard commented on #34
Done with interviews for today. Calling out that this is would be the next step. I've added customer validation to the google drive using the provided template, and I hope to work on it in the morning.

[2020-05-27 23:22] DejaTrudeaux commented on #6
EOD Update:

Linked up with peeps on the team to talk about next steps, I branched off from pairing toward the end of the day to divide and conquer with reverse geocoding, which I've made pretty decent progress on so far. Just getting everything configured properly to deal with the Google Places API so that we can get some human readable locations in this list.

Next steps:
- figure out if we shou

[2020-05-27 23:25] Mcscott142 commented on #39
@jeremybrady take a look at this issue and change anything you see fit. I'll assign to specific folks tomorrow and get a volunteer from the engineering team to participate.

[2020-05-27 23:30] Mcscott142 commented on #27
Unassigning myself. Did Chris O'Shea interview earlier, moving on to De-Brief.

[2020-05-27 23:40] grossvogel commented on #17
We tested (and fixed) Harbor while we were working on getting the prod and staging servers deployed, and it's working now. We've decided to pass on navigator, for now anyway.

I believe this issue is done.

[2020-05-27 23:43] Mcscott142 commented on #12
Chris O'Shea notes and recording is [here](https://docs.google.com/document/d/1xDzjEtTUJ8xgd6Id2J6j60aHu2nqS_hBLjjQ2ub8ad8/edit#). Sent him a follow-up email as well. It sounds like he may have some great contacts that might want to get involved.

[2020-05-28 14:06] brittneybrown opened #41 "User - COVID-19 Status - Update My COVID-19 Status"
_related to #24_

## Background
All users are presumed to be negative for COVID-19. The user should be able to edit this default status at any point to share a change in their diagnosis. **The purpose of this ticket is to allow the user to update their current COVID-19 status.**

### Implementation Notes
- `Negative` = means the user is negative for COVID-19
- `Positive` = means the user is positi

[2020-05-28 14:18] thomasknoll commented on #41
This may have been decided already outside of this ticket, so forgive me if I am questioning an already made decision. It seems like there would be more value and cleaner data if three status exist: unknown, negative, and positive. since being a known negative is different from being an unknown positive. If this doesn't cause much more complexity/difficulty in the development, it seems worth imple

[2020-05-28 14:22] grossvogel commented on #41
I'm curious how the difference between "negative" and "unknown" is going to change what the app does... w/o thinking about it much it seems like the app would behave exactly the same.

Another nuance we may decide to care about or ignore is timeframes. Each test result is a snapshot in time. I don't know how that relates to the window of time when the person is contagious but I imagine it's not th

[2020-05-28 14:24] brittneybrown opened #42 "User - COVID-19 Status - Add Dates: Symptoms, Test, Test Results"
_related to #24 #41_

## Background
All users are presumed to be negative for COVID-19. The user should be able to edit this default status at any point to share a change in their diagnosis. **The purpose of this ticket is to allow the user to update their COVID-19 status with details of the date when they first experienced symptoms, test date, results date.**

### Implementation Notes
- `Negative

[2020-05-28 14:28] brittneybrown commented on #41
👋 @thomasknoll heard. it is my understanding that we are assuming a negative state when the user as @iamjoshfrank noted here https://github.com/revelry-foundation/nightingale/issues/26#issuecomment-634891355 and in this headlines [drafting spreadsheet](https://docs.google.com/spreadsheets/d/1YYaAQ62gIhb0auuPrjOzuHVX6W1l5FExHV7xz4vRow8/edit?usp=sharing).

[2020-05-28 14:28] brittneybrown commented on #42
@grossvogel i also added this ticket for date scope re: https://github.com/revelry-foundation/nightingale/issues/41#issuecomment-635381176

[2020-05-28 14:51] iamjoshfrank commented on #41
I'm not sure what value this gives to the user, especially when we're:

1. Focused on such a limited-scope Proof of Concept; and
2. We're not transmitting COVID status to a central server; it really only acts as a prompt on the local device when the switch is made from negative to positive: "Now that you have tested positive, would you share your location history for the period we've determined yo

[2020-05-28 14:53] HauwaAguillard commented on #12
Sent a follow-up/ thank you email to research participants

[2020-05-28 15:16] brittneybrown commented on #26
we have defined direction. closing

[2020-05-28 15:16] #26 closed

[2020-05-28 15:49] brittneybrown opened #43 "Spike: Discovery and Proposal of Interpreting Location Exposure into a Percentage"
_this ticket is WIP, glad to hear feedback from folks in comments_

## Background
In this milestone, we're looking to interpret the overlap of locations visited and date/time with locations where a user has declared a `Positive` test result. The purpose of this ticket is to investigate and propose headlines which will support this milestone.

### Resources
- [Project App Doc](https://docs.google.c

[2020-05-28 16:14] iamjoshfrank commented on #43
FYI, @jwietelman and the engineers had an ad hoc planning meeting this morning. Here's how they're dividing up the work, which overlaps Milestones [2](https://github.com/revelry-foundation/nightingale/milestone/2), [3](https://github.com/revelry-foundation/nightingale/milestone/3), and [4](https://github.com/revelry-foundation/nightingale/milestone/4).

Here's the general shape of what they're pro

[2020-05-28 16:22] DejaTrudeaux commented on #6
Beginning of Day Update:

Right now I'm just checking to see how accurate these locations are looking and what data we should be extracting from the response to make the info usable for the person.
Right now it looks like we have access to formatted addresses, and should probably just return the first in the array? working on these considerations now

[2020-05-28 17:01] Samkeer1 commented on #6
Problem:
1. We are only pulling location data in foreground of app (while component is mounted + app running).
2. For proof of concept, we need to be able to gather location data while app is in background, or possibly when app is not in use.

We've identified another library (https://github.com/transistorsoft/react-native-background-geolocation + https://github.com/transistorsoft/react-native-bac

[2020-05-28 17:06] westonmcwhorter commented on #22
As per John's comment above, parking this in `Implement` for the time being.

[2020-05-28 17:06] westonmcwhorter commented on #23
Pulling through all the way to UAT. Beginning visual design and content work.

[2020-05-28 17:12] CheetoMao commented on #38
ok here are some quick ideas. Trying to nail down the screens, components, and navigation we'll have. Feedback super welcome as this feels pretty text heavy and not as simple as I'd like for it to be.

**set status**
<img width="539" alt="Screen Shot 2020-05-28 at 12 05 47 PM" src="https://user-images.githubusercontent.com/3287583/83171847-5060ec80-a0dc-11ea-9015-956e584d04c7.png">

**view locatio

[2020-05-28 19:08] brittneybrown opened #44 "User - Locations - Matching Positive Locations"
FYI, @jwietelman and the engineers had an ad hoc planning meeting this morning. Here's how they're dividing up the work, which overlaps Milestones [2](https://github.com/revelry-foundation/nightingale/milestone/2), [3](https://github.com/revelry-foundation/nightingale/milestone/3), and [4](https://github.com/revelry-foundation/nightingale/milestone/4).

Here's the general shape of what they're pro

[2020-05-28 20:09] brittneybrown commented on #43
finished using this as a notepad. closing

[2020-05-28 20:09] #43 closed

[2020-05-28 21:00] iamjoshfrank commented on #44
Removing the following:

Our goal is to show overlaps of times+locations, not to show a percentage. Why? Times+locations that match give the user more actionable insight into where and when they may have come into contact with a COVID-positive person.

Replacing with something about displaying a list of possibly-matched locations.

Further, the following can be clarified:

Because we're not really

[2020-05-28 21:00] iamjoshfrank commented on #44
Grabbing this back to make those edits.

[2020-05-28 21:03] iamjoshfrank commented on #42
I have several tabs open with CDC guidance re: contact tracing forms and the timespan that is recommended for use in questionnaires.

Editing a different Issue, then back this way to update the Acceptance Criteria to match the CDC recommendations for the "contact elicitation window. (when
the patient was infectious and not under isolation)." (Yes, that's what it's called - I learned it today!)

[2020-05-28 21:11] CurtisVonRubenhoff commented on #24
we made a decision and implemented a schema for the requests. since we're only storing positive locations, we don't need those boolean fields. Right now the schema looks like this

[code]

closing this out.

[2020-05-28 21:11] #24 closed

[2020-05-28 21:27] Mcscott142 commented on #8
I'm going through and closing things that I believe to be complete. Feel free to re-open and tell me to stop. I'm starting with this one.

[2020-05-28 21:27] #8 closed

[2020-05-28 21:28] Mcscott142 commented on #9
Closing, re-open if need be.

[2020-05-28 21:28] #9 closed

[2020-05-28 21:28] iamjoshfrank commented on #36
@grossvogel - looks like you shipped this work already. I'm moving it all the way ahead to `QA` / `UAT` in preparation of having a testable app ... sometime.

[2020-05-28 21:29] #27 closed

[2020-05-28 21:29] #34 closed

[2020-05-28 21:29] #12 closed

[2020-05-28 21:29] #13 closed

[2020-05-28 21:30] #39 closed

[2020-05-28 21:45] Mcscott142 commented on #15
EOD Update: We made it through the BrainStorm portion, had some really good conversations and nice output. We'll continue on to pairing up and doing some Sketches tomorrow. [Mural Board](https://app.mural.co/t/nightingale1567/m/nightingale1567/1590690171105/d56b4e0fc5ecb3d6bfc523ba5e8007282b30e731)

[2020-05-28 21:59] Mcscott142 commented on #14
Going to close this one. Using #15 to track progress and layout excercises.

[2020-05-28 21:59] #14 closed

[2020-05-28 22:33] alinelea commented on #30
@vegasgeek - @westonmcwhorter and I just paired on copy. Wes says he will update the visuals accordingly. Here's some draft copy to drop into the Objectives section:

## Objective

Our aim is to contain the spread and the transmission of COVID-19 by 50% in Louisiana, thus reducing total number of cases and deaths.

Through Nightingale we aim to:
- **Inform**: increase awareness for the need of tra

[2020-05-28 22:34] alinelea commented on #29
@vegasgeek - @westonmcwhorter and I just paired on copy. Wes says he will update the visuals accordingly. Here's some draft copy to drop into the Mission section:

## Mission

### Build a Contact Tracing App That Matters

The impact of the COVID-19 pandemic has been felt by everyone in Louisiana; particularly individuals in our most vulnerable communities. And, experts agree that contact tracing i

[2020-05-28 22:35] alinelea commented on #31
@vegasgeek - @westonmcwhorter and I just paired on copy. Wes says he will update the visuals accordingly. Here's some draft copy to drop into the How to Get Involved  section:

## How to Get Involved
In the spirit of collaboration and transparency, Nightingale is an Open Source project built by and for Louisianians.

Join our public [Slack channel](x) and [GitHub repo](x).

Let's build something g

[2020-05-28 22:57] HauwaAguillard commented on #6
Per pairing session with @jrotolo and @DejaTrudeaux here is a high fidelity flow for tomorrow

**Onboarding:**
<img width="432" alt="Screen Shot 2020-05-28 at 5 56 33 PM" src="https://user-images.githubusercontent.com/49654454/83202140-93d34f00-a10c-11ea-8797-4e90e1d3ca23.png">

**In app**
<img width="449" alt="Screen Shot 2020-05-28 at 5 55 23 PM" src="https://user-images.githubusercontent.com/49

[2020-05-28 22:57] jeremybrady commented on #15
### Thank you for joining our round 1 of 2 of our first design studio team!
@CheetoMao @Mcscott142 @HauwaAguillard @vegasgeek @BenRongey @alinelea

Your work leading up to today and ongoing will help inform all the work we do, informing both tracks in an equal effort to create a bad a@#! MVP. So again, thank you for being troopers.

**1.** Calling out our channel here #nightingaledesignstudio for

[2020-05-28 23:07] iamjoshfrank commented on #6
@HauwaAguillard and team:

My main feedback after a quick review is that _**Share my location**_ isn't needed until a user indicates they have tested positive. We currently have no use / no desire to gather the location data of negative/unknown-status users.

Flow should look something like this for sharing location history to the server:

1. `Change status to positive`
2. `Supply additional infor

[2020-05-28 23:13] iamjoshfrank opened #46 "User - COVID-19 Status - Agree to Share Locations to Server"
_Sibling of #41 and #42

## Background

_**Share my location**_ isn't needed until a user indicates they have tested positive. We currently have no use / no desire to gather the location data of negative/unknown-status users.

Flow should look something like this for sharing location history to the server:

1. `Change status to positive`
2. `Supply additional information (dates for test / test res

[2020-05-28 23:20] DejaTrudeaux commented on #6
EOD Update:

synced with everyone today and got some help from Brian Berlin on geocoding stuff. @jwietelmann suggested we switch our geocoding from Google Places API and i switched out an old key and am getting my configuration straight. I may tomorrow need to reach out to get this right... but in the mean time i've been linking up my work with all the new things pulled in from jason and sam's rec

[2020-05-28 23:29] iamjoshfrank commented on #44
Removing the resources from the scenario for now; can spin them out into a new Issue. Gotta keep this as simple and straight forward as possible.

    - CDC: Prevent Getting Sick https://www.cdc.gov/coronavirus/2019-ncov/prevent-getting-sick/index.html
    - CDC: If You Are Sick https://www.cdc.gov/coronavirus/2019-ncov/if-you-are-sick/index.html

[2020-05-28 23:39] iamjoshfrank commented on #44
@jwietelmann - I think you're most closely working on the query that would get attached to this Issue. Tapping you as well as @CurtisVonRubenhoff and @zhengfu23 who have been working on API stuff.

In #42, we're going to provide users the ability to provide 3 pieces of information alongside their change to positive-status:

1. Date Symptoms Began
2. Date of COVID-19 Test
3. Date of Positive COVID-

[2020-05-28 23:41] iamjoshfrank commented on #46
"Relevant time period" should equal the contact elicitation period, eg the period of time the positive-status user was likely infectious. See my [comment on #44](https://github.com/revelry-foundation/nightingale/issues/44#issuecomment-635673271), I'm not sure where this should land. Probably here, since we don't want to upload a bunch of irrelevant location history - only the list of locations tha

[2020-05-28 23:44] jwietelmann commented on #44
To make lines of responsibility clear: I am NOT presently working on
reporting at all. I am working onthe endpoint that presumed negatives will
use to find locations where presumed positives have been.

On Thu, May 28, 2020 at 7:39 PM Josh Frank <notifications@github.com> wrote:

[2020-05-28 23:51] iamjoshfrank commented on #42
Here is the guidance from the CDC re: establishing the "contact elicitation window:"

contacts), those contacts should also be elicited.

[2020-05-28 23:53] iamjoshfrank commented on #42
Need to decide whether to update this Issue to collect info re: symptomatic vs asymptomatic, because that will impact how far back we gather location data to send the server if the user agrees to share it.

[2020-05-28 23:55] iamjoshfrank commented on #44
Got it, @jwietelmann .

I've opened #46 to handle the sharing of locations, which as I think about it more clearly, would likely be a combo of mobile + backend/API - so more clearly in @CurtisVonRubenhoff and @zhengfu23 's court on the API side and someone else on the mobile side.

**Update:** added the CDC guidance on the contact elicitation period in [this comment on #42](https://github.com/reve

[2020-05-29 14:19] jeremybrady commented on #15
Good morning team.
@CheetoMao @Mcscott142 @HauwaAguillard @vegasgeek @BenRongey @alinelea

### We're now at round 2 of our design studio.
[I look forward to building on all of our great ideas thus far in MURAL (see the link here)](https://app.mural.co/invitation/mural/nightingale1567/1590690171105?sender=jeremy4340&key=d745f756-9443-4b00-a799-8e21f3ab29b3)
As always thank you for participating and

[2020-05-29 14:23] HauwaAguillard commented on #6
ah I completely missed those tickets. I was focused on the data we currently have and are able to use for tomorrow.

I'm concerned we may not be able to get around to 👆 but I can certainly add that to the mocks.

Updating flow...

[2020-05-29 15:02] CurtisVonRubenhoff commented on #46
I think this ticket falls under the purview of what I'm working on (API endpoint to make this possible). I self-assigned this while I'm working, but it won't be done until it's implemented in the mobile app (maybe i can shift my focus to that unless someone currently on the mobile side is itching to grab this).

I should have a pr for the API endpoint within the hour.

[2020-05-29 15:03] Mcscott142 opened #47 "Designer - COVID-19 Status - Quick Wireframe for Symptoms, Test, Test Results"
_related to #42_

## Background
All users are presumed to be negative for COVID-19. The user should be able to edit this default status at any point to share a change in their diagnosis.

Issue #42 will allow the user to update their COVID-19 status with details of the date when they first experienced symptoms, test date, results date.

Issue #46 will allow a user to share their recent locations t

[2020-05-29 15:04] iamjoshfrank commented on #46
Awesome, thanks @CurtisVonRubenhoff !

I'll be back this way in ~20 minutes to finish off making the Scenario and Acceptance Criteria crystal clear re: the date range for which the app should share locations based on test and/or symptom dates.

I'm assuming that work (that logic?) would happen on the mobile end; and that the API only serves as a landing spot for the selected location data. Yeah?

[2020-05-29 15:06] CurtisVonRubenhoff commented on #46
That's accurate. This endpoint is only ingesting locations and when you were there

[2020-05-29 15:07] CheetoMao opened #48 "Design - App Icons"
<h2>If the project does not already have an app icon, you will need to create one:</h2>

- [x] create icon at 1536x1536
- [x] the icon will need to have a background color - no transparent pngs (transparency actually does work on some android devices but will show up as white or black fill on iOS)
- [x] keep in mind that rounded corners will be added (or not) based on the device
- [x] app icon doe

[2020-05-29 15:08] Mcscott142 opened #49 "Designer - COVID-19 Status - Quick wireframe for Agree to Share Locations"
_related to #46_

## Background
**The purpose of this issue is to get a quick WireFrame up helping an engineer to handoff #46 as cleanly as possible to a designer. We shouldn't worry too much about making it perfect. Maybe Timebox it for 30 min and just help the engineer with a little direction.**

_**Share my location**_ isn't needed until a user indicates they have tested positive. We currently

[2020-05-29 15:09] zhengfu23 commented on #44
Gonna try to pick this one up

[2020-05-29 15:11] iamjoshfrank commented on #49
`@designers` - if it makes sense to combine this Issue with #47 to think through the entire flow and produce one set of sketches / wires/ whatever helps communicate the flow best in the time allotted, please make that call.

If it makes sense to leave these separate, that's fine, too.

Based on a [Slack comment](https://revelry-public.slack.com/archives/C014AR56T1P/p1590764899150200?thread_ts=1590

[2020-05-29 15:12] HauwaAguillard commented on #47
Wires:

**Onboarding:**
<img width="432" alt="Screen Shot 2020-05-28 at 5 56 33 PM" src="https://user-images.githubusercontent.com/49654454/83202140-93d34f00-a10c-11ea-8797-4e90e1d3ca23.png">

<img width="555" alt="Screen Shot 2020-05-29 at 9 53 44 AM" src="https://user-images.githubusercontent.com/49654454/83275525-dfc9d680-a194-11ea-9af8-c5209324ee42.png">

<img width="176" alt="Screen Shot 2020

[2020-05-29 15:15] Mcscott142 commented on #49
Closing this one. These are done in #47

[2020-05-29 15:15] #49 closed

[2020-05-29 15:18] Mcscott142 commented on #42
Wires:

**Onboarding:**
<img width="432" alt="Screen Shot 2020-05-28 at 5 56 33 PM" src="https://user-images.githubusercontent.com/49654454/83202140-93d34f00-a10c-11ea-8797-4e90e1d3ca23.png">

<img width="555" alt="Screen Shot 2020-05-29 at 9 53 44 AM" src="https://user-images.githubusercontent.com/49654454/83275525-dfc9d680-a194-11ea-9af8-c5209324ee42.png">

<img width="176" alt="Screen Shot 2020

[2020-05-29 15:18] Mcscott142 commented on #46
Wires:

**Onboarding:**
<img width="432" alt="Screen Shot 2020-05-28 at 5 56 33 PM" src="https://user-images.githubusercontent.com/49654454/83202140-93d34f00-a10c-11ea-8797-4e90e1d3ca23.png">

<img width="555" alt="Screen Shot 2020-05-29 at 9 53 44 AM" src="https://user-images.githubusercontent.com/49654454/83275525-dfc9d680-a194-11ea-9af8-c5209324ee42.png">

<img width="176" alt="Screen Shot 2020

[2020-05-29 15:21] HauwaAguillard commented on #47
I also realize that the ticket ac needed COVID status info only and a symptoms page. I wasn't sure where to put the rest of the screens but needed to get it out in the open. I'll work on another screen for symptoms to account for the entire ac

[2020-05-29 15:29] Samkeer1 commented on #7
<img width="555" alt="83275525-dfc9d680-a194-11ea-9af8-c5209324ee42" src="https://user-images.githubusercontent.com/43652523/83277088-2caeac80-a197-11ea-9cd4-cba25e2b5014.png">

[2020-05-29 15:31] Samkeer1 commented on #7
<img width="721" alt="Screen Shot 2020-05-29 at 10 30 33 AM" src="https://user-images.githubusercontent.com/43652523/83277295-70a1b180-a197-11ea-9d1e-df7bb0ce7cc5.png">
Wireframe for this ticket

[2020-05-29 15:39] HauwaAguillard commented on #47
Now that I have fully digested the AC lol! I think the wires account for the first sight of COVID symptom date.

<img width="219" alt="Screen Shot 2020-05-29 at 10 38 35 AM" src="https://user-images.githubusercontent.com/49654454/83278102-ab581980-a198-11ea-96f5-68524f1aff18.png">

[2020-05-29 16:35] iamjoshfrank commented on #46
Update! Based on conversations in Slack spurred by @grossvogel [here](https://revelry-public.slack.com/archives/C014AR56T1P/p1590764962152300?thread_ts=1590764499.147300&cid=C014AR56T1P) and [here](https://revelry-public.slack.com/archives/C014AR56T1P/p1590765480157000) re: **trade-offs** and **decisions* when we're trying to ship a Proof of Concept in under a week:

1. We're going to postpone the

[2020-05-29 16:50] iamjoshfrank opened #50 "Positive User - COVID-19 Status - Agree to Share Locations to Server"
_Sibling to #41_

_Replaces #46 for first iteration_

## Background

Based on conversations in Slack spurred by @grossvogel [here](https://revelry-public.slack.com/archives/C014AR56T1P/p1590764962152300?thread_ts=1590764499.147300&cid=C014AR56T1P) and [here](https://revelry-public.slack.com/archives/C014AR56T1P/p1590765480157000) re: **trade-offs** and **decisions** when we're trying to ship a Pro

[2020-05-29 16:54] CurtisVonRubenhoff commented on #46
Nope. I think I'm still good. I'll move my updates to #50 in that case though

[2020-05-29 17:34] DejaTrudeaux commented on #6
okay i got my config right, just need to put api key in travis and finish last steps of making sure geocoding is right

[2020-05-29 18:00] westonmcwhorter commented on #28
Incoming. Working on image selection as well.

[2020-05-29 18:01] westonmcwhorter commented on #37
Moving forward to `Implement`. Will sync w/ @vegasgeek to see what's easy.

[2020-05-29 18:21] jeremybrady commented on #15
<table>
  <tr>
   <td><strong>We believe that (doing/building/creating this)</strong>
   </td>
   <td><strong>For this user/persona</strong>
   </td>
   <td><strong>Will result in (this outcome)</strong>
   </td>
   <td><strong>We’ll know we’re right when we see (this signal / metric)</strong>
   </td>
  </tr>
  <tr>
   <td>We will drive awareness of our contact tracing tool “Know Your Status, Sha

[2020-05-29 18:22] westonmcwhorter commented on #28
Screenshot. PSD uploaded to the GDrive. If we like [this image](https://www.gettyimages.com/detail/photo/young-woman-taking-selfie-with-family-and-friends-royalty-free-image/1176848423?adppopup=true), it may cost us a little jack from Getty.

<img width="704" alt="Screen Shot 2020-05-29 at 1 20 41 PM" src="https://user-images.githubusercontent.com/45366606/83292271-6b506100-a1af-11ea-96b6-268bb2c1

[2020-05-29 18:27] westonmcwhorter commented on #37
Possible WP plug-ins:
https://wordpress.org/plugins/weglot/
https://wordpress.org/plugins/multisite-language-switcher/

Spanish = Easy
Vietnamese = Not So Much

[2020-05-29 18:50] iamjoshfrank opened #51 "Marketing Website - Decide on Domain"

[2020-05-29 18:51] iamjoshfrank commented on #23
Link added to `README`. Opened #51 re: the domain.

[2020-05-29 18:51] #23 closed

[2020-05-29 18:52] iamjoshfrank commented on #48
I see them. 👍

[2020-05-29 18:52] #48 closed

[2020-05-29 18:53] iamjoshfrank commented on #47
Solid. I'll make sure this is referenced on #42 and #46 for our next iteration.

[2020-05-29 18:53] #47 closed

[2020-05-29 18:56] iamjoshfrank commented on #6
Is this still actively being worked, or is it really in `QA` / `UAT` as shown on the Kanban board?

[2020-05-29 18:56] iamjoshfrank commented on #36
Since we don't yet have a TestFlight build deployed, I can't perform `UAT`.

Asking another engineer to verify and then close.

[2020-05-29 18:58] iamjoshfrank commented on #17
I believe this is done. We're ... deploying somewhere, right? Closing.

[2020-05-29 18:58] #17 closed

[2020-05-29 19:00] iamjoshfrank commented on #50
Per [Slack comment](https://revelry-public.slack.com/archives/C014AR56T1P/p1590772395181700?thread_ts=1590771993.176000&cid=C014AR56T1P), this Issue will move across the board alongside #41.

Assigning to @grossvogel and marking it as in progress.

[2020-05-29 19:03] iamjoshfrank commented on #22
@vegasgeek - Are dev credentials in Rpass?

If so, then the rest of this is done. IMHO we should track further work of backporting Production to Staging when we actually "go live."

[2020-05-29 19:04] iamjoshfrank commented on #28
@westonmcwhorter - I like it. Go get the approval you need for budget.

[2020-05-29 19:05] iamjoshfrank commented on #37
Bumped this down to the bottom of the priority list at this time.

[2020-05-29 19:05] jeremybrady commented on #15
**Congrats on finishing round 2 of our Design Studio!**

**A. Next steps for the team**
@CheetoMao @bmccrossen @HauwaAguillard @vegasgeek @BenRongey @alinelea
Team—On individual sticky notes, list the highlights your [sketched idea posted in Mural.](https://app.mural.co/t/nightingale1567/m/nightingale1567/1590690171105/d56b4e0fc5ecb3d6bfc523ba5e8007282b30e731)
See column 3 under Round 2 and highli

[2020-05-29 19:05] iamjoshfrank commented on #3
Closing this out. It didn't get used and we can find it by searching closed Issues.

[2020-05-29 19:05] #3 closed

[2020-05-29 19:06] iamjoshfrank commented on #29
In progress?

[2020-05-29 19:11] iamjoshfrank commented on #44
Pushing this forward to `Implement` and marking it in progress per @zhengfu23 's comment above.

Probably should self-score it, James, if you can.

Also, since it's been 4 hours and we're approaching pencils down, drop a Comment update and/or call for help getting unblocked.

[2020-05-29 19:12] iamjoshfrank commented on #18
Decision (at least for now) was made. It's living on WPEngine currently. Closing.

[2020-05-29 19:12] #18 closed

[2020-05-29 19:27] iamjoshfrank commented on #16
I know @prehnRA was pulled into meetings today.

Any word if we got unstuck here? Besides All Hands today, I think we might have a demo opportunity Monday afternoon.

[2020-05-29 19:58] vegasgeek commented on #32
I have this in place with the understanding that:
- using default fonts until a final decision is made

Questions:
- Do we want to link the logos to sites (if so, please provide link for LDoH)

Can be viewed here:
https://nightingaleweb.wpengine.com/

[2020-05-29 19:59] vegasgeek commented on #31
I have this in place with the understanding that:
- using default fonts until a final decision is made
- using default font sizes as well

Can be viewed here:
https://nightingaleweb.wpengine.com/

[2020-05-29 20:09] vegasgeek commented on #30
In speaking with @westonmcwhorter this section is going to get an overhaul. I have taken the above content and have added it in a very basic placeholder fashion.

Can be seen here: https://nightingaleweb.wpengine.com/

[2020-05-29 20:14] vegasgeek commented on #29
I have this in place with the understanding that:
- using default fonts until a final decision is made
- I could really use some additional direction on layout.

Can be viewed here:
https://nightingaleweb.wpengine.com/

[2020-05-29 20:32] iamjoshfrank commented on #44
From Planning Poker in Slack:

Estimates for revelry-foundation/nightingale/44: curtis=5 and josh=8
---
josh (8): I think the API part is in place or in progress. There is no sketch or wireframe attached, so design ought to be involved in the solution. Tests to make sure we're not exposing privacy.

iamjoshfrank  3:29 PM
I was borderline 5 on this one, with most of the squishiness being around the

[2020-05-29 20:33] grossvogel commented on #38
FYI I just merged my PR that has @CheetoMao 's first round of stylesheet changes so that work should be in master

[2020-05-29 20:35] jwietelmann opened #52 "Mobile: Discard locations where the user was going the speed of a motor vehicle"
You don't get COVID from passing each other in cars on the road.

[2020-05-29 20:37] Mcscott142 opened #53 "Team - Validation - Define Next Steps and ProtoType"
## Background
Throughout `Week 22` were able to complete Track B Milestones on [recruitment and planning](https://github.com/revelry-foundation/nightingale/milestone/5), [customer interviews and research](https://github.com/revelry-foundation/nightingale/milestone/6), and completing the [Design Studio](https://github.com/revelry-foundation/nightingale/milestone/6) itself.

We used [Key Insights](h

[2020-05-29 20:38] iamjoshfrank commented on #25
I'm really unclear about the reason for this Issue. I have a hard time processing the use of **When** and **Then** in this context, or at least with the words that are attached to them.

Is this a meta-tracking Issue to track a bunch of different Issues (that appear to already be organized into their own Milestones? If so, then my suggestion for the future is to reduce complexity and rely on the M

[2020-05-29 20:40] jeremybrady commented on #25
@iamjoshfrank Index to document the process giving a transparent look into the why, so we can create a playbook against this—empowering other teams to model this.

When we're done, we'll close it.

[2020-05-29 22:12] jwietelmann opened #54 "[Bug] Server: Longitude doesn't seem to affect find_proximate_positives results?"
It's Friday, and I don't know why. All I know is that if I insert a positive at lng 90 lat 90 and i search for exactly that:

* It finds the positive (good)
* If I change the lng search param to something far away it still finds the positive (bad)
* If I change the lat search param to something far away it no longer finds the location (good)

[2020-06-01 14:04] iamjoshfrank commented on #16
We don't have @prehnRA , @Sahedeva , or @grossvogel resourced this week, so I'm unassigning.

@prehnRA - can you leave progress notes / branch / whatever that will best enable another team member to pick this up and carry it to the finish line?

[2020-06-01 14:06] iamjoshfrank commented on #22
No response. Closing.

[2020-06-01 14:06] #22 closed

[2020-06-01 14:15] iamjoshfrank commented on #44
@zhengfu23 - since this is a carry-over goal from last week and integral to complete our loop, please call out blockers and/or seek a pairing partner ASAP today. Thanks!

[2020-06-01 14:17] iamjoshfrank commented on #38
@CheetoMao - what do you think is left for this Issue vs work that should be split out into new Issues (or addressed as it comes up in the prototype)?

[2020-06-01 14:37] iamjoshfrank commented on #36
Can an engineer please confirm and close this Issue?

[2020-06-01 16:04] Mcscott142 opened #55 "Product - Design Studio Proto-Type - Headlines"
## Background
Issue w/ Messy Headlines to start defining the Proto-Type. Major WIP.

@Mcscott142 's ToDo's
- [ ] Figure out team capacity
- [ ] Schedule a Kickoff
- [ ] Tweak Headlines
- [ ] Write  a few issues
- [ ] Get people moving on initial stories
- [ ] Find users
- [ ] Schedule testing sessions
- [ ] Write moar issues

### Hypothesis
Hypothesis goes here

### Testing Methods:
Testing method

[2020-06-01 16:24] CheetoMao commented on #38
I'm gonna go ahead and close this out b/c the styleguide page exists and there are already a few patterns in place. Further design work can be done on specific tickets.

[2020-06-01 16:24] #38 closed

[2020-06-01 16:34] iamjoshfrank commented on #54
Joel's left the info he discovered. Since this is a bug, I'm not writing a full user story for it. Moving it forward for work this week.

[2020-06-01 16:35] iamjoshfrank commented on #52
I'm going to remove the `bug` label since the original feature didn't specify a speed limit. 😄

Writing this up as a normal user story...

[2020-06-01 16:37] iamjoshfrank commented on #54
Even though this is a `bug`, I'm going to play some jazz and say we should put it through Planning Poker so that we have a sense of how it might impact what we can ship this week.

[2020-06-01 16:38] iamjoshfrank opened #56 "UX - Navigation"

[2020-06-01 16:38] iamjoshfrank opened #57 "UX - Agree to Share Location History"

[2020-06-01 16:38] iamjoshfrank opened #58 "UX - Basic Onboarding"

[2020-06-01 16:39] iamjoshfrank opened #59 "UX - Compare My Locations to Hotspots"

[2020-06-01 16:55] iamjoshfrank opened #60 "Developer - Publish an Android Build for Testing"
The Play Store currently has 3 testing tracks for Android App releases (see [this developer support article](https://support.google.com/googleplay/android-developer/answer/3131213?hl=en)):

- Internal
- Closed
- Open

My assumption is we should publish our first build to the *Internal* testing track, but if Revelry's mobile team has other best practices and/or tooling set up to publish to other tr

[2020-06-01 17:04] westonmcwhorter commented on #33
@vegasgeek, going to begin peppering in some comments to start tightening up each of these sections. For the footer, let's do this:

- [ ] please make sure to link "Please review license information" to [the markdown file in the repo](https://github.com/revelry-foundation/nightingale/blob/master/LICENSE.md).

[2020-06-01 17:12] westonmcwhorter commented on #32
@vegasgeek, can we reduce the top/bottom padding by maybe half? As far as linking goes, I'll ask about that. Syncing w/ G here shortly.

[2020-06-01 17:19] iamjoshfrank commented on #7
Good question from @BenRongey seeking clarification in [Slack:](https://revelry-public.slack.com/archives/C014AR56T1P/p1591031581317700)

Ben Rongey  4 minutes ago
The ticket specifically mentions editing a local list of locations, but the AC does not.  As it stands now, the AC only requires the ability to delete a location that the user has been to.  That work is done and functional.

iamjoshfran

[2020-06-01 17:20] iamjoshfrank commented on #7
I'm updating the title of this Issue to reflect the specificity of the Scenario and Acceptance Criteria...

[2020-06-01 17:49] iamjoshfrank commented on #21
@westonmcwhorter - maybe a note on this and #20 somewhere in the background or AC that these are tasks specifically for the landing page site? I added that language to the titles to make it more clear from the 10k foot view of the Kanban board.

[2020-06-01 18:04] westonmcwhorter commented on #21
Cool. I used that `Milestone` but maybe that's not enough?

[2020-06-01 19:05] HauwaAguillard commented on #7
@Samkeer1 pushed up changes to the branch.
<img width="340" alt="Screen Shot 2020-06-01 at 1 59 58 PM" src="https://user-images.githubusercontent.com/49654454/83444174-9ab1d880-a410-11ea-90d1-82e37fa547c4.png">

[2020-06-01 19:10] Samkeer1 commented on #7
Awesome work @HauwaAguillard

[2020-06-01 19:21] iamjoshfrank commented on #59
See [planning poker thread in Slack](https://revelry-public.slack.com/archives/C014AR56T1P/p1591038787332000) for deliberation.

Scoring a `5` (PokerBot chose not to work today).

Please keep in mind use of timeboxes for this effort. Thanks!

[2020-06-01 19:26] HauwaAguillard commented on #59
picking this up next to pair with @DejaTrudeaux

[2020-06-01 19:40] DejaTrudeaux opened #61 "Reverse Geocoding - Replace Google Places API with a viable solution"
Last week, we left off where we began discussing potential alternatives for the Google Places API as we are going to be making a lot of requests and don't want to run up the bill.  Some ideas we discussed are:

- https://github.com/aaronksaunders/react-native-reverse-geo
- https://github.com/kiwicom/react-native-reverse-geocode
- https://github.com/timwangdev/react-native-geocoder-reborn << Jarrod

[2020-06-01 19:45] westonmcwhorter commented on #51
nightingale.com TAKEN
nightingalehealth.com TAKEN
nightingaleapp.com TAKEN
nightingaletracing.com AVAILABLE
nightingale.io AVAILABLE (premium domain; $50 offer on GoDaddy)

[2020-06-01 19:55] westonmcwhorter commented on #51
@iamjoshfrank, @prehnRA, @thomasknoll and @jeremybrady. Tagging y'all here to get your thoughts on the suggested domains above. Could obviously keep searching, but maybe there's a winner here, or you guys have other thoughts?

[2020-06-01 20:14] Mcscott142 opened #62 "User - COVID Risk Survey - Assist in updating TypeForm"
## Background
During our Interview with Veena Goud, we learned that we _are_ on the right track with a Risk Assessment tool and a little off-base with a symptom tracker, but we also learned that she is currently attempting to put together a quick Typeform survey to get on the LA Dept of Health website.

We offered our assistance in getting the correct logic tied into the Typeform so they can quick

[2020-06-01 20:15] Mcscott142 commented on #62
Marking this as Blocked. Veena has requested @BenRongey and @Mcscott142 added to the Typeform Survey. We'll have a quick call with Veena to get direction after that.

[2020-06-01 20:34] vegasgeek commented on #32
@westonmcwhorter padding shrunk. lmk about links.

[2020-06-01 20:44] vegasgeek commented on #33
@westonmcwhorter done and done.

I would love to get some direction on fonts and such. That'd be great, thanks!

[2020-06-01 21:08] HauwaAguillard commented on #59
After pairing with @DejaTrudeaux and @Samkeer1 we found some code in the codebase that might have already solved for this. It looks like Joel's work from Friday, which brings down the complexity of work to be done on #44

Here are some questions/concerns that came up during our pairing sessions

**What is considered a hotspot ?**

- Covid19 +ive ? How many COVID 19 +ives ? is one enough to declare

[2020-06-01 21:17] iamjoshfrank commented on #59
In general, please keep in mind the simplest solution for the current iteration.

For now, we should rely on whatever Joel put into the API to deem a match. I'm not concerned with, "is there 1 positive at the server or 5 positives for this given location match?" We can fine-tune this as we keep moving.

I feel like a lot of the questions posed in the comment are answered by, "What does the API / s

[2020-06-01 21:27] HauwaAguillard commented on #59
I see what you are saying and it does make sense. Not sure why I like to complicate things lol!
I can certainly refocus my efforts on getting some visuals available on what is available.

@Samkeer1 let me know if you're at a point where we could start putting existing data on a page to help guide the efforts here

[2020-06-01 21:36] Mcscott142 commented on #55
After speaking with @HauwaAguillard, we decided to build the prototype using this one issue since there is no functionality to separate out and work in parallel. It will be easier to track progress here and have all resources in one place.

cc @CheetoMao @jeremybrady

Updated AC and Title. Moving to implement column.

_Some Notes on "Resources" section when we get there. More to come_
- Call Cente

[2020-06-01 22:00] Samkeer1 commented on #59
@iamjoshfrank @HauwaAguillard It looks like match is currently defined as Users within 10 meters and 30 minutes of where a Covid-19 Positive User has reported visiting.

This seems to be the best way to determine a hotspot right off the bat: Where positive users have been. @jwietelmann built a function to check all positive locations against where a User has visited within the last 2 weeks.

[2020-06-01 22:07] HauwaAguillard commented on #59
Thanks for clarifying @Samkeer1 sounds like we are comparing against a user's visited location. So I'm thinking this would be a lot similar to `locations` page and maybe with a button to run hotspots when a user requests for hotspots based on their visited locations.

This unblocks me from being able to move forward with some wires.

**My plan for tomorrow:**
- Timebox this for 45 mins or less for

[2020-06-01 22:16] DejaTrudeaux commented on #16
EOD Update:

Have been in contact with Robert and paired with Brian and Nick a few mins ago. Robert says the current problem has something to do with SSH so Brian helped me setup a remote in the FastFile.  Awaiting Travis build to determine next steps on this and will keep firedrill updated.

[2020-06-01 23:34] Mcscott142 commented on #55
@Mcscott142 to break this out into 3 issues via https://revelry-public.slack.com/archives/C01573BMABS/p1591046186064600.

[2020-06-02 12:38] Mcscott142 opened #63 "Design - Prototype - Social Sharing"
_related to #55_

## Background
Once users complete their Risk Assessment and receive a grade, we want them to have the ability to spread awareness through social media. They can do this by sharing a COVID Bingo Card containing de-risking activities e.g. wearing a mask.

This issue is for creating the InVision ProtoType for the share functionality design which will happen after the risk assessment

[2020-06-02 12:52] Mcscott142 opened #64 "Design - Prototype - Assets"
_related to #55_
_related to #63_

## Background
Design asset artifacts are needed for our prototype. The Prototype will need a logo, the Badge upon quiz completion, and language for the message throughout the app. This issue will track those artifacts creation. Some quick wires for the prototype are below.

### Broad Hypothesis
1) We believe that creating an intake form that identifies an individ

[2020-06-02 12:59] Mcscott142 opened #65 "Design - Prototype - Quiz and Recommendations"
_related to #55_
_related to #63_
_related to #64_

## Background
Users will complete a quiz/risk assessment that grades them as High, Medium, or Low risk. They'll be given helpful links, suggestions, and plans based on their grade along with general COVID information as resources. Once completed they'll receive a completion badge (think "I voted" sticker"), and they'll have the ability to share a

[2020-06-02 13:03] Mcscott142 commented on #55
Created #63, #64, and #65 to break some of these things out.

@HauwaAguillard https://github.com/revelry-foundation/nightingale/issues/63 covers the social sharing.

@jeremybrady https://github.com/revelry-foundation/nightingale/issues/64 covers assets/artifacts

@CheetoMao https://github.com/revelry-foundation/nightingale/issues/65 covers the Quiz and recommendations

[2020-06-02 13:29] NOrzechowski commented on #44
@Samkeer1 I'm still getting set up, but I feel like this would be a good place for me to get up to speed via some pairing with you. LMK when you're available!

[2020-06-02 14:37] Mcscott142 commented on #62
The meeting w/ Veena scheduled for 10am this morning. @BenRongey and @Mcscott142 both have access to Typeform quiz now. Unblocking.

[2020-06-02 14:42] Mcscott142 commented on #15
Closing this one. Work continues with #55

[2020-06-02 14:42] #15 closed

[2020-06-02 14:44] #53 closed

[2020-06-02 14:56] HauwaAguillard commented on #59
timeboxing this for 30mins to work in sketch.

[2020-06-02 15:03] iamjoshfrank commented on #59
FYI from @jwietelmann [at end of All-Hands](fastlane increment_build_number): here's an example of a match between mobile and the server response:

https://nightingale-server.nightingale.revelry.org/api/v1/find_proximate_positives?lat=90&lng=90&when=2020-05-28T17:21:29Z

[2020-06-02 15:04] iamjoshfrank commented on #44
FYI from @jwietelmann [at end of All-Hands](fastlane increment_build_number): here's an example of a match between mobile and the server response:

https://nightingale-server.nightingale.revelry.org/api/v1/find_proximate_positives?lat=90&lng=90&when=2020-05-28T17:21:29Z

[2020-06-02 15:28] westonmcwhorter opened #66 "Landing Page - Hero Image - Stock Purchase"
## Background
We're using an image from Getty for the hero of the landing page, that seems to meet with everyone's approval. (see attachment below) We need to purchase this prior to launch. Pricing is below. Recommended resolution is the MEDIUM size.

<img width="350" alt="Screen Shot 2020-06-02 at 10 27 44" src="https://user-images.githubusercontent.com/45366606/83538707-c63dcd00-a4bb-11ea-99af-0

[2020-06-02 15:41] westonmcwhorter commented on #66
This is the image in question. @bmccrossen, this has met with approval from G, Josh and myself. Curious if you're feeling good about this as well?

![gettyimages-1176848423-170667a](https://user-images.githubusercontent.com/45366606/83540208-9bed0f00-a4bd-11ea-85a8-b9798d770bc5.jpg)

[2020-06-02 16:02] HauwaAguillard commented on #59
Here are initial wires. Hoping to get some feedback

<img width="552" alt="Screen Shot 2020-06-02 at 10 50 12 AM" src="https://user-images.githubusercontent.com/49654454/83541582-719c5100-a4bf-11ea-8491-95fd60b08f51.png">

<img width="159" alt="Screen Shot 2020-06-02 at 10 54 54 AM" src="https://user-images.githubusercontent.com/49654454/83541635-82e55d80-a4bf-11ea-9e16-bf95239cba62.png">

cc: @Sa

[2020-06-02 16:07] iamjoshfrank commented on #51
Keeping in mind the audience for this landing page is key.

Also, keeping in mind that "Nightingale" may or may not be the name of whatever apps/web apps/other resources we release to the public...

My overall opinion is that "Nightingale" is the name of the Open Source project, and that any other naming/branding considerations for individual product(s) may or may not follow that naming.

And, sin

[2020-06-02 16:12] thomasknoll commented on #51
IMHO:
- nightingale was always just a codename for the project and not a brand for this app
- if/when we would even try and drive the distribution of the app, we would likely do dedicated brand work
- therefore, I think can still just refer to this as a project
- and for that matter could just use http://nightingale.revelry.co for the domain.

[2020-06-02 16:23] Samkeer1 commented on #59
@HauwaAguillard Looks good to me! Should there be a list specifically for comparing my precious locations to hotspots? That's how I currently have this working but not sure about how the wording should look, or where I should put this list. Maybe there could be a button on the hotspots page that takes someone to the list of where user locations overlapped with hotspots?

[2020-06-02 16:28] iamjoshfrank commented on #59
Feedback incoming. Overall, this is a good direction for this first iteration of the feature.

Give me ~20 and I'll have my feedback documented.

[2020-06-02 16:34] Mcscott142 commented on #62
We are sprucing up this [Public Survey](https://scott142908.typeform.com/to/tl3kdg), to have logic that gives users the end results of whether they are high/medium/low risk. We have an opportunity to quickly put this together and get it in front of several key decision-makers.

Had call w/ Veena, adding notes at the bottom of this comment. We have access to the Typeform and Ben is running with get

[2020-06-02 16:34] Samkeer1 commented on #44
@iamjoshfrank I have a list of locations in which a user was in close proximity to covid-positive reporting users, just working on a bit of styling before pushing up code.
I know it's not part of this ticket, but are hotspots something that we should also be listing out as well? I noticed hotspot listing on a wireframe and not seeing any sort of ticket for that.

[2020-06-02 16:34] westonmcwhorter commented on #51
@thomasknoll, I think that's a wise move given all the context. No need to spend money we don't have to.

Making the call here that we're going to proceed with `http://nightingale.revelry.co`.

[2020-06-02 16:41] iamjoshfrank commented on #59
@HauwaAguillard - thank you! My feedback is below.

cc: @Samkeer1 since y'all are paired on the solution making.

---

**Panel 1**

I think this is solid. I'll provide content that might be needed, but this is a fine place to start.

I appreciate that we're not firing off the search query when the user navigates to this view. I like that it requires a discrete action and gives us an opportunity to

[2020-06-02 16:42] iamjoshfrank commented on #51
No arguments from me.

[2020-06-02 17:17] iamjoshfrank commented on #44
I'm not sure what you mean:

(emphasis added)

I think a solution such as [the one sketched out](https://user-images.githubusercontent.com/49654454/83541635-82e55d80-a4bf-11ea-9e16-bf95239cba62.png) by @HauwaAguillard in #59 is one way to achieve the goals of this Issue (though it needs some refinement)

Doesn't the payload of the API response provide:

1. The location used to perform the query (t

[2020-06-02 17:18] iamjoshfrank commented on #44
To clarify further:

We're not dumping out a list of ALL REPORTED HOTSPOTS BY EVERY USER FROM ALL TIMES into the app.

The "hotspots" feature _is solely about showing matching locations._

[2020-06-02 17:22] iamjoshfrank commented on #59
Simple solution first. Show all matches. Pagination, details view, etc. are all solutions that can be explored when we verify the problem actually exists (of too many matches).

Also, I think we can greatly reduce the _size_ of these matches in order to make this view more user-friendly and scrollable. A lot can be done in terms of styling to make Panel 4 be the main list view including matches.

[2020-06-02 17:28] HauwaAguillard commented on #63
@Mcscott142 I'm going to temporarily unassign myself as I'm tied up with work on track A so I don't block this ticket from being picked up by someone else. I'll definitely call out on the ticket when I do make my way back this way.

[2020-06-02 17:51] BenRongey commented on #62
@Mcscott142  the point for the Revelry Labs/Foundation logo might be irrelevant.  From what I've found (so far), only one image can be added per each slide/question.  If that's the case then obviously we'll go with the Louisiana Department of Health logo.

[2020-06-02 17:58] HauwaAguillard commented on #59
**Updated wires:**
<img width="539" alt="Screen Shot 2020-06-02 at 12 58 08 PM" src="https://user-images.githubusercontent.com/49654454/83553374-b8467700-a4d0-11ea-94cd-7747815bbd7c.png">

cc: @Samkeer1 @iamjoshfrank

[2020-06-02 18:01] vegasgeek commented on #51
@bit-herder Any chance I could get you to assist with the DNSimple bit above?

[2020-06-02 18:25] vaxinate commented on #51
I just want to confirm that we're pointing nightingale.revelry.co to 35.239.66.235 and that this IP is not the application server currently hosted in the nightingale cluster?

[2020-06-02 18:27] vegasgeek commented on #51
@vaxinate Correct. that IP is only for the website, not for the app.

[2020-06-02 18:29] vaxinate commented on #51
<img width="1185" alt="Screen Shot 2020-06-02 at 1 28 42 PM" src="https://user-images.githubusercontent.com/85638/83556173-0e1d1e00-a4d5-11ea-9e71-850a5fcad572.png">
 job's done!

[2020-06-02 18:38] westonmcwhorter commented on #32
Hey @vegasgeek, updated this with the correct /R logo. [PSD is here](https://drive.google.com/open?id=1TcWjBx7Xo3J-_mgakm3ei2aRX6KM9q93).

[2020-06-02 18:41] westonmcwhorter commented on #33
This looks siiiiick. Pulling thru to QA/UAT.

[2020-06-02 18:48] westonmcwhorter commented on #30
Looking VERY nice. Passing along to QA/UAT.

[2020-06-02 18:50] westonmcwhorter commented on #51
@vegasgeek, I believe we're good to shuttle this little baby along, huh?

[2020-06-02 18:58] iamjoshfrank commented on #59
Excellent!

[2020-06-02 19:00] westonmcwhorter commented on #66
We're opting for this instead:
https://www.istockphoto.com/photo/outdoor-portrait-of-multi-generation-family-in-garden-at-home-against-flaring-sun-gm1156466210-315182052

[2020-06-02 19:01] vegasgeek commented on #51
@westonmcwhorter too late, we're already done! Site is live at: https://nightingale.revelry.co/

Probably good to close this for now unless a different domain is planned in the future.

[2020-06-02 19:07] iamjoshfrank opened #67 "Landing Page - Content - Make Headline Less Contact Tracing-Specific"
## Background

Project Nightingale isn't only about building a tracing app. In fact, the tracing app may never ultimately be a tool that is released to the public! Instead, the project is oriented around having a significant impact on the transmission and fatality rates due to COVID-19.

As such, we're exploring many hypotheses, from contact tracing to symptom tracking/checking to resources for co

[2020-06-02 19:08] Mcscott142 commented on #62
We'll figure something out. Maybe just list the names we need to w/o logos on page 1 and provide links to "partners" on the FAQ or something. Maybe that defeats the purpose of this. Thinking out loud.

[2020-06-02 19:10] vegasgeek commented on #32
@westonmcwhorter updated and can be seen here: https://nightingale.revelry.co/

[2020-06-02 19:11] HauwaAguillard commented on #59
@iamjoshfrank I'm currently pairing with @Samkeer1 on design implementation on #44 and quick question. How often do we want to show the covid19 hotspots page or do we see that as a one-time show page for first time users?

[2020-06-02 19:12] westonmcwhorter commented on #51
Sick. Pushing along to QA/UAT.

[2020-06-02 19:12] iamjoshfrank opened #68 "Landing Page - Navigation - Remove "Download" / "Download the App""
## Background

We aren't soliciting downloads of any applications as of this writing.

[2020-06-02 19:13] westonmcwhorter commented on #66
Wes purchased and placed image on GDrive.

[2020-06-02 19:14] westonmcwhorter commented on #32
This mo' is done. Pulling to QA/UAT.

[2020-06-02 19:15] iamjoshfrank opened #69 "Landing Page - Content - Mission"
## Background

While this section is accurate based on the Google Slide linked in the `README`, our efforts have expanded beyond contact tracing.

Let's dig up the "challenge question" that has framed our work, especially the "Track B" efforts around user/expert interviews and research and our resulting outputs from the design studios.

Grabbing that and dropping it into this Issue shortly...

[2020-06-02 19:15] vegasgeek commented on #66
Updated and can be seen here: https://nightingale.revelry.co/

[2020-06-02 19:23] iamjoshfrank commented on #69
Some info that can help inform the Mission (and Objectives) section below:

---

Contact Tracing Proof of Concept Hypothesis:

---

Challenge Question:

Post-Research Hypothesis 1:

Post-Research Hypothesis 2:

[2020-06-02 19:40] westonmcwhorter commented on #66
Sick. Let's pull this thru to QA/UAT.

[2020-06-02 19:41] westonmcwhorter commented on #28
Pulling thru to QA/UAT.

[2020-06-02 19:48] Samkeer1 commented on #59
@HauwaAguillard @iamjoshfrank Can we just show matching locations in a list? To make hotspots readable in the same way that they're displayed in the wireframe, we need to send the following coord info through the google API, and there's nowhere currently in the DB to save those google API responses, meaning it would have to happen every time we display hotspots.

<img width="368" alt="Screen Shot

[2020-06-02 19:48] iamjoshfrank opened #70 "Landing Page - Content Revisions - Remove "COVID-19 CONTACT TRACING INITIATIVE" from Footer Logo"

[2020-06-02 19:53] westonmcwhorter commented on #68
@vegasgeek, easy peasy. Can you this and pull it on through to QA/UAT?

[2020-06-02 19:57] iamjoshfrank commented on #59
@Samkeer1 - start with what you are showing. For now, I don't care that the Hotspots are ugly - let's just prove we can retrieve them and display them alongside their matches.

My hunch about how we fix this (in a separate Issue):
- Update server to accept both the reverse geocoded info alongside lat/long when locations are sent to the server by positive users
- Update server's API response to hot

[2020-06-02 19:57] westonmcwhorter commented on #70
@vegasgeek, we can use this logo: https://drive.google.com/open?id=1_DidkZzK_mfT6wOs8F3i3v0Cr0H5jpcT

[2020-06-02 19:58] iamjoshfrank commented on #59
@HauwaAguillard - I'm not sure I understand your question:

Can you restate it, maybe a bit differently?

[2020-06-02 19:58] vegasgeek commented on #68
done.

[2020-06-02 19:59] Mcscott142 commented on #62
@BenRongey I'm going to email Veena to walk through the Survey w/ the Logic we have and see what updates she wants. Will include the question around number 11 or 13 (depending).

One thing I noticed, even if a User is a High Risk, we'll want to follow up with the FAQ's screen, I went through a couple of times and it was only happening for Low Risk.

[2020-06-02 20:04] westonmcwhorter commented on #67
@Mcscott142 and @iamjoshfrank, what do you think about this?

Line 1 // USING INNOVATION TO BUILD
Line 2 // SAFE & HEALTHY COMMUNITIES
Line 3 // IN LOUISIANA

[2020-06-02 20:08] Samkeer1 commented on #59
I think I understand, and @HauwaAguillard and Neil and I briefly discussed the fact that locations are already being passed through the google API locally for a user's local list of Locations so we can probably use those. PR should be incoming shortly

[2020-06-02 20:10] HauwaAguillard commented on #59
@iamjoshfrank my question was in reference to this page, do we want this to be a first time user only or a page that persist each time a user visits the hotspot page
<img width="262" alt="Screen Shot 2020-06-02 at 3 06 14 PM" src="https://user-images.githubusercontent.com/49654454/83564617-9e159480-a4e2-11ea-85da-2b073aed8785.png">

[2020-06-02 20:16] westonmcwhorter commented on #67
@vegasgeek, can you sub the above and let's look at it?

[2020-06-02 20:21] vegasgeek commented on #67
@westonmcwhorter updated.

[2020-06-02 20:36] HauwaAguillard commented on #44
Moving these wires over here in ref to work done on #59. Also paired with @Samkeer1 to complete design implementation here.

[2020-06-02 20:37] HauwaAguillard commented on #59
moving this to code review as I await feedback on the question above 👆

[2020-06-02 20:38] Samkeer1 commented on #44
Current pictures:
<img width="352" alt="Screen Shot 2020-06-02 at 3 37 59 PM" src="https://user-images.githubusercontent.com/43652523/83567322-0b2b2900-a4e7-11ea-826c-3a135ac8d6f1.png">

<img width="376" alt="Screen Shot 2020-06-02 at 3 37 32 PM" src="https://user-images.githubusercontent.com/43652523/83567290-fc447680-a4e6-11ea-9a91-e121b7177f84.png">

[2020-06-02 20:44] HauwaAguillard commented on #63
circling back this way and picking this up.

[2020-06-02 20:48] iamjoshfrank commented on #44
Quick response: 👍

Note: we'll need more accurate explanatory copy on the first view (b/c currently it looks like you're using copy related to a positive-status user's option to upload their locations to the server).

[2020-06-02 20:54] iamjoshfrank commented on #59
@HauwaAguillard - now I understand!!

I think we should treat this view as a fresh search page and require the user to tap the "Compare my locations to Hotspots" button to submit a new search query any time the user returns to this view.

Here are a few reasons:

1. A user's locally-stored location history will be semi-constantly updating.
2. We might assume that a user will visit this Hotspot pag

[2020-06-02 20:59] jwietelmann commented on #54
HAHAHAHA THERE'S NO BUG MY LATITUDE WAS THE NORTH POLE OF COURSE THE LONGITUDE DOESN'T MATTER.

[2020-06-02 20:59] #54 closed

[2020-06-02 21:05] vegasgeek commented on #70
Done. -> https://nightingale.revelry.co/

[2020-06-02 21:14] Mcscott142 commented on #62
Notes from Feedback session
## Survey Feedback
#5 better explainer here?
#9 add 0-15?
#11 what do we need there?
We lost our FAQ's

Veena Feedback:
#9
- Change ages to 1-20, 20-30, 30-40, 40-50, 50-60
    - 50 and up is High Risk
- Leave in "Have you been Tested?" This is an anonymous Survey.
- #12 drop it
**To Add**
- Have you had Symptoms of COVID-19
    - No
    - Yes
    - Select All Symptoms

[2020-06-02 21:16] HauwaAguillard commented on #59
ok sounds good. cc: @Samkeer1 for visibility.

[2020-06-02 21:18] westonmcwhorter commented on #69
@vegasgeek, let's go with something along these lines for `MISSION`:

### MISSION
~### Build a Contact Tracing App That Matters~
The impact of the COVID-19 pandemic has been **felt by everyone in Louisiana**; particularly **individuals in our most vulnerable communities**. Public health experts, community advocates and innovative individuals and organizations alike seem to agree that in order to s

[2020-06-02 21:24] iamjoshfrank commented on #59
Bad assumptions re: what the server spits back as a result from the search request.

Joel is grabbing folks to clear it up.

[2020-06-02 21:24] iamjoshfrank commented on #44
Bad assumptions re: what the server spits back as a result from the search request.

Joel is grabbing folks to clear it up.

[2020-06-02 21:26] Mcscott142 opened #71 "Designer - COVID Risk Survey - create image for Typeform Survey Final Page"
## Background
We have #62 in getting a quick turn around Typeform survey done in hopes of getting it on the LA dept of public health website this week. We are getting very close to wrapping that up, but it could use a few tweaks.

The survey can be taken [here](https://scott142908.typeform.com/to/ahomH1) in its current state.

The most important one being that at the end of the Survey, we have a g

[2020-06-02 21:31] Mcscott142 commented on #71
## Text form of the  10 tips.

<details>
<summary>10 Tips</summary>

Here are ten basic things that everyone should be doing all the time, starting today:

1. Wash your hands often with soap and warm water, rubbing all parts of your hands for 20 seconds (especially after you cough, sneeze or blow your nose). When you can’t wash your hands, use an alcohol-based hand sanitizer. If you can’t find any

[2020-06-02 21:40] westonmcwhorter commented on #69
@vegasgeek, for `Objectives`, let's dial back the references to "tracing" _specifically_, to something like this:

### OBJECTIVES
Our aim is to **reduce the spread and transmission of COVID-19 by 50%** in Louisiana, thus reducing total number of cases and deaths. Through Nightingale we aim to:

#### SUPPORT (https://www.flaticon.com/free-icon/target_1605401?term=support&page=1&position=44)
Gather

[2020-06-02 21:41] vegasgeek commented on #69
Mission section updated -> https://nightingale.revelry.co/

[2020-06-02 21:56] Mcscott142 opened #72 "Reveler - COVID Risk Survey - Email to LA Health Dept"
## Background
We have #62 and possibly #71 in progress for getting a quick V1 Typeform survey out the door. We have been working with Veena Billioux to get this out the door as quickly as possible.

Once we make some final edits, Veena suggested we send the survey to the following people offering assistance and perhaps getting it embedded in the LA Dept public health site. Veena suggested, we send

[2020-06-02 21:56] Mcscott142 commented on #72
cc @gerardramos I would assume you would be the one to fire off the email for this?

[2020-06-02 22:02] vegasgeek commented on #69
Objectives section also update -> https://nightingale.revelry.co/

Note, those icons are either available to purchase, or for free with attribution. I added attribution to the footer for now. Can discuss alternate options later as needed.

[2020-06-02 22:10] Samkeer1 commented on #44
Discussed the presentation of hotspot information with @HauwaAguillard, @jwietelmann and @NOrzechowski, and we agreed that the simplest way to tie off the core loop is to show text along the lines of 'x' amount of people tested positive, within the 'matching' constraints.

@HauwaAguillard is working on mocking this up currently.

This will allow us to iterate and further flush out data that we're

[2020-06-02 22:23] CheetoMao commented on #65
Here's where I'm at:
<img width="1044" alt="Screen Shot 2020-06-02 at 5 15 55 PM" src="https://user-images.githubusercontent.com/3287583/83575362-efc71a80-a4f4-11ea-8c1c-db79c1d87974.png">

- colors are somewhat placeholder, taken from Louisiana dept of health
- font is placeholder (wanted to see if the logo would inspire a font choice, also may want to steal from the landing page, which is OpenSa

[2020-06-02 22:23] HauwaAguillard commented on #59
moving [this comment](https://github.com/revelry-foundation/nightingale/issues/44#issuecomment-637832586) over here for reference.

**updated wires:**

<img width="630" alt="Screen Shot 2020-06-02 at 5 20 15 PM" src="https://user-images.githubusercontent.com/49654454/83575680-b2af5800-a4f5-11ea-8a1b-c6541028ec91.png">

cc: @Samkeer1 @iamjoshfrank @jwietelmann @NOrzechowski for visibility

[2020-06-02 22:33] DejaTrudeaux commented on #16
EOD Update:

paired extensively on this with Brian Berlin again, reached out to Hung as well. Still running in circles with this

[2020-06-02 22:59] HauwaAguillard commented on #71
@Mcscott142 @BenRongey here is a screenshot let me know if this works

<img width="451" alt="Screen Shot 2020-06-02 at 5 57 41 PM" src="https://user-images.githubusercontent.com/49654454/83577713-906c0900-a4fa-11ea-8569-9b5ee4c807cd.png">

[2020-06-02 23:04] Mcscott142 commented on #71
@HauwaAguillard I think this works for our purposes. can you share the file with @BenRongey so he can see how it looks in the Typeform?

[2020-06-02 23:05] HauwaAguillard commented on #63
I wasn't able to get around to this fully today but I plan to pick this up in the morning. I do have design assets now to move forward with this based on work done by Laura on #65.

[2020-06-02 23:07] HauwaAguillard commented on #71
Do we know what size we are looking for?

P.S. I'm gonna push up what I have for now in a folder though and share here in a sec

[2020-06-02 23:12] jeremybrady commented on #65
@CheetoMao Nice, again Dope.
- Like the color, good to start, can tweak later.
- Getting you badge & then bingo card.
- Can we use paired down LDH logo "+" in monochrome white on start screen FPO?

Copy for beginning screens
### Screen 1
<Covid Locator Logo>
**Headline:**
Welcome to the Louisiana Health Department’s COVID locator tool.
**Body copy:**
Use this tool to **share your health status saf

[2020-06-02 23:17] HauwaAguillard commented on #71
@BenRongey uploaded image can be found here: https://drive.google.com/drive/folders/1f1F_PYxRsMyWw0CZmZu3QJwopUqMx8VT

[2020-06-02 23:18] BenRongey commented on #71
@Mcscott142 I don't think this is going to work very well.  The image is automatically centered and it ends up a lil small.

[2020-06-02 23:19] HauwaAguillard commented on #71
Want to pair so we can figure out the right size?

[2020-06-02 23:36] iamjoshfrank commented on #59
👍  on this approach.

[2020-06-02 23:46] Mcscott142 commented on #71
It's totally ok if it doesn't work. Don't want y'all to expend too much effort on this.

[2020-06-02 23:50] HauwaAguillard commented on #71
**Update:**
Paired with @BenRongey and doesn't look like adding an image to the survey final page would work. However, we decided to go with what is currently there and added some spaces between each todo which should help improve the readability.

I'm tempted to close this ticket out as I consider this done, however, I shall move this to UAT and assign to @Mcscott142

[2020-06-02 23:55] #71 closed

[2020-06-02 23:56] HauwaAguillard commented on #59
Kewl. I'll update #44 with progress and move this ticket along the board

[2020-06-02 23:59] HauwaAguillard commented on #44
@Samkeer1 @NOrzechowski I'm sure yall already seen these but updating this ticket for our future selves 😄

@iamjoshfrank comments

**updated wires:**
<img width="400" alt="Screen Shot 2020-06-02 at 5 20 15 PM" src="https://user-images.githubusercontent.com/49654454/83575680-b2af5800-a4f5-11ea-8a1b-c6541028ec91.png">

[2020-06-03 00:13] NOrzechowski commented on #44
Thanks @HauwaAguillard, looks great. Let's pair in the AM.

[2020-06-03 01:09] jeremybrady commented on #28
Hi @westonmcwhorter and @iamjoshfrank

Can we please consider an image that might be reflective of what the audience might be feeling health wise, [as in this case,](https://covidnearyou.org/us/en-US/) and or a non-image based approach [like this](https://covidsafepaths.org/)), or [this](https://help.supply/), or [this](https://work.co/clients/planned-parenthood/).

[2020-06-03 01:25] Mcscott142 commented on #62
Final(ish) survey: https://scott142908.typeform.com/to/YWNtvZ.

[2020-06-03 01:32] Mcscott142 commented on #72
Survey is ready. Let #firedrill know we can shoot the email off.  https://scott142908.typeform.com/to/YWNtvZ

[2020-06-03 02:35] iamjoshfrank commented on #28
@jeremybrady - You make good points. I have a few responses:

1. I've said again and again in multiple places that I think the audience for this Nightingale site is not the large cross-section of potential end users of whatever apps / sites / resources we create. Instead, the audience is potential contributors as well as partners and potential sponsors; and, to a lesser extent, the general public

[2020-06-03 04:24] georgiapetagna commented on #28
@westonmcwhorter hopping on to QA this. should i do so on staging or production? typically i would QA on staging, but the [link](http://nightingalestg.wpengine.com/) provided on the readme doesn't look right. production looks more in-line with the AC, except for jump links to download the app and choose a language are missing. just need to be pointed in the right direction and then i can be off an

[2020-06-03 04:29] georgiapetagna commented on #66
i see the selected hero image on the homepage, so this passes QA, but i can't slap a `done qa` label on this ticket, nor can i start/finish the issue in the QA column on the kanban board. am i missing something here? @westonmcwhorter

[2020-06-03 04:41] georgiapetagna commented on #68
passes QA. i do not see a Download link in the nav. need assistance with moving forward to UAT as i'm unable to utilize labels or start/finish tix on kanban. will ask about this in the am.

[2020-06-03 04:49] georgiapetagna commented on #69
i'm seeing updated copy for the Mission and Objectives sections on production, so this passes QA. _attempts to add `done qa` label to this ticket_ 😆

[2020-06-03 04:51] georgiapetagna commented on #67
i see @westonmcwhorter revised headline copy 🕺 passes QA

[2020-06-03 04:53] georgiapetagna commented on #29
passes QA

[2020-06-03 04:56] georgiapetagna commented on #30
this passes QA (with updated copy that @westonmcwhorter provided [here](https://github.com/revelry-foundation/nightingale/issues/69#issuecomment-637821260))

[2020-06-03 05:00] georgiapetagna commented on #31
hmmm 🤔@vegasgeek the copy on production doesn't exactly effect what @alinelea provided [above](https://github.com/revelry-foundation/nightingale/issues/31#issuecomment-635644067).

[2020-06-03 05:03] georgiapetagna commented on #32
looks good on production.... _adds a `done qa` label_

[2020-06-03 11:56] westonmcwhorter commented on #31
@vegasgeek, @georgiapetagna is right. I forgot @alinelea rewrote that copy. However, the multiple review passes haven't necessitated any adjustments from what I wrote originally. Up to you guys.

[2020-06-03 11:58] westonmcwhorter opened #73 "Mobile Users - Landing Page - Responsive Spacing & Such"
## Background
The mobile version of the site looks a little wonky.

## Scenario: Tighten Up Responsive Views
Given I am @vegasgeek,
- [ ] When I pick up this ticket,
- [ ] Then I review the landing page on mobile,
- [ ] And make necessary adjustments to the CSS in order to whip the view into shape.

[2020-06-03 12:34] iamjoshfrank opened #74 "Images Needed for Publication - Screenshots, Wires/Mocks"
@HauwaAguillard and/or someone from engineering discipline to support if needed:

Today, we'll likely be publishing several posts about our efforts to-date. I have a recap article I've written about last week's efforts that you can find here: [Nightingale - Track A Summary for Publication](https://docs.google.com/document/d/1I0j4TQPb6A9HdbgtN_302jhypNHAQnwZVtQy0nPYeRo/edit).

Take a look at the ar

[2020-06-03 14:06] jeremybrady commented on #64
@CheetoMao [Logo/Design assets here](https://drive.google.com/open?id=1sF3M4Adeec0lhx6T4OlAISRTjRIQBfim)
Please feel free to tweak. Did two v. of RA logomark, choose and or tweak at your discretion.

<img width="323" alt="covid_risk_assessment" src="https://user-images.githubusercontent.com/33012299/83646536-60177f80-a579-11ea-8f5d-4f05d273fd26.png">
<img width="220" alt="badge" src="https://user-

[2020-06-03 15:41] HauwaAguillard commented on #63
I started research on COVID bingo cards or any health-related bingo cards in order to find inspirations/examples:

<details>
    <summary> Health bingo</summary>
<img width="400" alt="Screen Shot 2020-06-03 at 10 16 43 AM" src="https://user-images.githubusercontent.com/49654454/83655262-d4efb700-a583-11ea-9ea7-43c15f775aa2.png">
</details>

<details>
    <summary> Covid bingo</summary>
<img width=

[2020-06-03 15:52] vegasgeek commented on #73
@westonmcwhorter I took a pass at this and the biggest issues I found had to do with the header and footer. I have cleaned up both and checked it on my iPhone Xr and it feels much cleaner.

I'll move this ticket over to QA/UAT and if you run into anything that still feels off, please let me know!

[2020-06-03 16:19] vegasgeek commented on #68
@georgiapetagna The download link has been removed until such a time that the download is available.

[2020-06-03 16:22] vegasgeek commented on #28
@georgiapetagna Because the site wasn't live (until yesterday), there was no need to have a production/staging setup. Now that we've launched the site, I'll pull a copy of production over to that staging URL and the two will match shortly.

The "choose language" options have been pushed off for future implementation.

[2020-06-03 16:24] CheetoMao commented on #65
**updated copy + design assets**

<img width="1431" alt="Screen Shot 2020-06-03 at 11 23 52 AM" src="https://user-images.githubusercontent.com/3287583/83662174-ca85eb00-a58c-11ea-9c48-f056e6cc1708.png">

[2020-06-03 17:41] jeremybrady commented on #63
@HauwaAguillard nice work.
Can you please [take the recommendations from Veena's list](https://docs.google.com/document/d/1vGH_3vNtkbDcy9YPdzILc3mMx2LoSznAJwtS-dcwB_s/edit?usp=sharing) and make those apart of the social sharing "bingo card"

[2020-06-03 17:54] CheetoMao commented on #65
**sketch file on the drive:**
https://drive.google.com/file/d/1QopB3tMnHl41QTrWpCIYv_RxxrO9orb5/view?usp=sharing

**pngs on the drive:**
https://drive.google.com/drive/folders/145eWM9vqW76XXvtPNZLa8FLbe8x8EWm2?usp=sharing

**invision clicky:**
https://invis.io/SBXJXJ4UG8J#/420207017_Splash

Still planning on throwing these artboards over into Figma for better open-sourcery ✨
will update with that

[2020-06-03 18:18] DejaTrudeaux commented on #36
@iamjoshfrank Can confirm that there is no prompt to create or log in to an account. Closing

[2020-06-03 18:18] #36 closed

[2020-06-03 18:26] iamjoshfrank commented on #36
:thankyou:

[2020-06-03 18:38] HauwaAguillard commented on #74
@iamjoshfrank I've added most of the screens to google drive needed for the publication.

Here is the file structure:
- Screenshots can be found in `Nightingale > Make > Assets > Track A - Screens`
- While in `Track A - Screens`, you'll notice I've uploaded wires and created two folders,
    -  App screenshots
    - GitHub milestone screens

let me know if you need anything else

[2020-06-03 19:05] iamjoshfrank opened #75 "Landing Page - Hero Section - Illustration to Replace Stock Photo"
## Background

### High level direction
- Looking for illustrations that represent open source, working better together, community effort that helps our friends and love ones.
- Imagery that shows a wide array, of multiple voices within our community being shared/listened to versus focusing in one individual

### Tactical direction
- Individuals are from across the communities of Louisiana
- Diver

[2020-06-03 19:08] iamjoshfrank commented on #75
@wavemanstudio here you go.

[2020-06-03 20:05] jeremybrady commented on #75
@wavemanstudio
Like the [matrix of these photos](http://selfresearch.org/),
and I could see us representing a wide swath of the community,
specifically the state of Louisiana as part of hero image for this site.

Would be nice to reflect that similarly for a hero illustration on this landing page.

CC @iamjoshfrank @CheetoMao @gerardramos for visibility

[2020-06-03 21:23] iamjoshfrank commented on #56
@DejaTrudeaux - your simple acceptance criteria for this Issue, accompanied by the wireframe sketch, are definitely sufficient for communicating what is desired at the high level.

I'm going to think on this a few more minutes after I clear out my various channel mentions and DMs.

The only thing I'm concerned about is the `Resources` tab, b/c we don't have a page like that and I don't want to lin

[2020-06-03 21:29] DejaTrudeaux commented on #56
I think right now I'm just switching from hamburger menu to bottom tabs using the same things that were previously there, `Home`, `Locations`, and `Hotspots`. I was wondering about `Resources` but no prob, just sticking to what we got for now

[2020-06-03 22:17] iamjoshfrank commented on #52
Copy/pasting [comment from PR nightingale-mobile#25:](https://github.com/revelry-foundation/nightingale-mobile/pull/25#issue-427480006)

However, the IOS xcode simulator seems to be producing 'unknown' activity results.

[2020-06-03 22:19] iamjoshfrank opened #76 "Spike: Research, Recommend Power Savings Options with Geolocation Library"
Via @Samkeer1 's [PR comment on nightingale-mobile#25:](https://github.com/revelry-foundation/nightingale-mobile/pull/25#issue-427480006)

However, the IOS xcode simulator seems to be producing 'unknown' activity results.

[2020-06-03 22:40] DejaTrudeaux commented on #56
EOD Update:

Started this and have a component but not 100% how this is going to fit in with what we already have. I think I'll need to touch base with Sam and Neil tomorrow about it.

I'm actually getting this error:
<img width="383" alt="Screen Shot 2020-06-03 at 5 40 40 PM" src="https://user-images.githubusercontent.com/39891937/83696164-5ca7e680-a5c1-11ea-93d0-df8a07bbbeae.png">

which I don't

[2020-06-04 00:24] HauwaAguillard commented on #63
**EOD:**

- Started off with wire to get the basic concept of bingo down and paired with @Mcscott142 for a bit to pick his brain around his initial idea with the COVID bingo card
![wires](https://user-images.githubusercontent.com/49654454/83700688-18224800-a5cd-11ea-9104-c0198600ba34.jpg)

Here are the mocks screen:
<img width="775" alt="Screen Shot 2020-06-03 at 7 22 24 PM" src="https://user-imag

[2020-06-04 01:47] CheetoMao commented on #65
**figma:**
https://www.figma.com/file/VAbXyS1hMqgtmWmLOkGpad/nightingale-quiz-prototype?node-id=0%3A1

[2020-06-04 14:37] jeremybrady commented on #65
Dope @CheetoMao

[2020-06-04 16:00] georgiapetagna commented on #28
hey @vegasgeek to confirm, going forward, i should test/QA on staging. is that correct? also, what's the URL for staging? what's linked in the README is directing me to this http://nightingalestg.wpengine.com/.

[2020-06-04 16:12] georgiapetagna commented on #31
word @westonmcwhorter i think your original copy is fine as is. marking this done for QA.

[2020-06-04 16:38] georgiapetagna commented on #28
updated the AC to remove the requirement for jump links to `Download App` and `Choose Language` per the feedback above. this passes QA.

[2020-06-04 16:40] georgiapetagna commented on #33
as per @iamjoshfrank comment [here](https://github.com/revelry-foundation/nightingale/issues/68#issue-629447949), we are not soliciting app downloads at this time. i updated the AC accordingly.

[2020-06-04 16:40] iamjoshfrank commented on #75
@wavemanstudio - I moved this Issue into our `Implement` column with an indication you're currently working on this illustration. Our kanban for the Nightingale project is found here:

https://kanban.prod.revelry.net/app/revelry-foundation/nightingale

Feel free to hit "pause" if you're not actively working on this Issued.

[2020-06-04 16:50] georgiapetagna commented on #51
this is extremely nitpicky, but i'm seeing **.org** as opposed to **.co**, which is what was prescribed above. i'm going to go ahead and say this passes, as i don't think this is a big deal, but calling it out that there's a discrepancy.

[2020-06-04 16:52] vegasgeek commented on #51
@georgiapetagna that is NOT nitpicky and if you see a discrepancy in URLs, always point it out!

In this case, it just so happens that this change was on purpose. the AC should be updated to reflect the use of nightingale.revelry.org

[2020-06-04 16:57] georgiapetagna commented on #73
looks good on iOS and Android.

[2020-06-04 17:13] wavemanstudio commented on #75
@iamjoshfrank @jeremybrady - working on the grid of portraits, currently 8 columns by 4 rows of square portraits. Feeling like this is reasonable number I can finish EOD PST. But keeping it modular, so we can continue to expand on the dimensions if we find it necessary.

[2020-06-04 17:24] georgiapetagna commented on #68
ahhh @vegasgeek my previous comment was misleading. i meant to say "i can confirm that i do not see the download link in the nav" ;) hence it passes QA

[2020-06-04 18:26] NOrzechowski commented on #16
@prehnRA would you mind dropping a status update on this when you get a chance? I know you got a build passing successfully but I'm out of the loop past that - thanks!

[2020-06-04 19:07] HauwaAguillard commented on #63
**Update:**
My system has been running slow and keeps running into the `wheel of death` situation but here is an update of what I have so far.

I spent most of my time searching for free to use covid19 icons that make the most sense for the activities. Found out that font awesome has icons we could use
 - Why are icons important? because some members of the community are not fluent English speaker

[2020-06-04 19:19] Mcscott142 opened #77 "Deleting"

[2020-06-04 19:20] Mcscott142 commented on #77
@tc

[2020-06-04 19:20] #77 closed, assigned to nobody

[2020-06-04 20:11] iamjoshfrank commented on #61
Closing for now. Cost will be free or minimal at this point.

[2020-06-04 20:11] #61 closed

[2020-06-04 20:18] iamjoshfrank commented on #16
@DejaTrudeaux to follow-up on getting invites out to the current team working on Track A. Plus Mary and Georgia.

[2020-06-04 21:02] HauwaAguillard commented on #58
Onboarding copy from @jwietelmann

See comment [in slack](https://revelry-public.slack.com/archives/C014AR56T1P/p1591303975075300?thread_ts=1591299696.063100&cid=C014AR56T1P)

[2020-06-04 21:04] jwietelmann commented on #58
If any of my bullets can be shortened while still conveying the info, great please do that. Also (maybe this is obvious) the way it's displayed should not feel like a wall of text or anything that makes people's eyes glaze over or makes it feel similar to a ToS. Unlike a ToS, I think we _want_ them to _read every word_.

[2020-06-04 21:08] HauwaAguillard commented on #58
Yeah, that makes sense. I think utilizing some icon set here will be helpful too

[2020-06-04 21:16] HauwaAguillard commented on #63
**Update:**
- Moved this to code review to work on review with @CheetoMao in the morning
- Uploaded sketch files to drive which can be found[ here](https://drive.google.com/drive/folders/1U5yg6qoIsUOPd2w4J4VNCdsPahp4lF05)
- Scheduled a meeting time with @CheetoMao for tomorrow morning

[2020-06-04 22:27] HauwaAguillard commented on #58
**EOD:**
Paired with @Samkeer1 and @BenRongey on the initial flow setup. We plan to continue progress on this ticket tomorrow.

@Samkeer1 already pushed up a working branch

[2020-06-04 22:41] DejaTrudeaux commented on #56
moved to QA, i think should be available on Testflight to QA now @georgiapetagna

[2020-06-04 23:15] iamjoshfrank commented on #58
My goal is to loop back to this tomorrow to provide updated content.

[2020-06-05 14:30] jwietelmann opened #78 "Cluster - Logging into Grafana with GitHub should give me access to Prometheus dashboards and Loki logs"
When I log into Nightingale Grafana with GitHub, I end up with a Viewer role that cannot view anything of value. Instead I should have:

* Dashboards with Kubernetes (Prometheus) data
* An Explore menu option that lets me browse Loki logs

[2020-06-05 14:50] iamjoshfrank opened #79 "Install Lintron on `/nightingale-mobile`"
## Scenario: Lintron Comments on Pull Requests

Given I am working in the [`/nightingale-mobile` repo](https://github.com/revelry-foundation/nightingale-mobile)
- [ ] When I open a Pull Request
- [ ] Then Lintron analyzes the code and leaves comments where appropriate

[2020-06-05 15:08] DejaTrudeaux opened #80 "3 Notifications on first app open"
I just noticed some things when logging into the app on Testflight for the first time that did not happen when running locally. One of the concerns is about the amount of notifications that pop up when the app is downloaded, and I just wanted to make sure this is normal and discuss whether that could potentially deter a user from using our app.

As soon as you open the app, there’s 3 pop up notifi

[2020-06-05 15:14] DejaTrudeaux opened #81 "Notification Continue Stationary"
When logging into Testflight for the first time, I noticed some things that did not happen in the app when testing locally. One of those things is that I received a push notification that says, `Continue Stationary <lat, lng>`. I don't know how this could be useful for someone and actually was unable to find this in the code so I just wanted to make sure this is intentional, and remove it if not.

[2020-06-05 15:18] DejaTrudeaux opened #82 "Weird Beeps"
I just noticed some things when logging into the app on Testflight for the first time that did not happen when running locally. One concern is that when you click Covid19 Hotspots, two beeps happen every so often, and I feel like that could potentially scare a user.

As an engineer:
- [ ] When I find out the cause for the two beeps
- [ ] Then I remove them

[2020-06-05 15:23] Samkeer1 commented on #82
That's 'debug: true' in LocationListener.tsx.

<img width="461" alt="Screen Shot 2020-06-05 at 10 22 45 AM" src="https://user-images.githubusercontent.com/43652523/83894124-80c90c00-a716-11ea-80ef-01d30665547c.png">

[2020-06-05 15:24] DejaTrudeaux commented on #82
@Samkeer1 ahhh i see, do we want that? if so, closing!

[2020-06-05 15:26] Samkeer1 commented on #82
Nope, it's super annoying and I usually keep it set to false when I'm running movement simulations. We can close this, I'll commit 'debug: false' into what i'm working on currently which is #58

[2020-06-05 15:26] #82 closed, assigned to iamjoshfrank

[2020-06-05 16:07] HauwaAguillard commented on #63
**Update:**

Paired with @CheetoMao and here is updated Figma link:
https://www.figma.com/file/VAbXyS1hMqgtmWmLOkGpad/nightingale-quiz-prototype?node-id=0%3A1

cc: @Mcscott142 @jeremybrady for visibility.

[2020-06-05 16:07] HauwaAguillard commented on #63
moving to QA

[2020-06-05 16:28] iamjoshfrank commented on #80
@DejaTrudeaux - good catch. Definitely the kind of thing we might expect to happen once we started testing on actual devices instead of the simulator.

There's been literally zero work configuring when we prompt the user for permissions that I'm aware of. My hunch is all 3 of those are what comes out-of-the-box with the geolocation library.

We should fix the sequencing of these _for sure,_ whethe

[2020-06-05 16:29] iamjoshfrank commented on #80
@DejaTrudeaux - I'm going to unassign myself and adjust this Issue in the list of priorities a bit to pull it toward the top of the `Write` column.

If you find yourself looking for a next Issue and want to help "clean this up" and make it workable, I'd love that. I don't have the capacity to do any more on it this morning or likely today at all.

[2020-06-05 16:31] iamjoshfrank commented on #81
@DejaTrudeaux - similar comment to #80 that I just left. Very much not intentional. Very likely a standard background notification from the geolocation library.

Same answer as on #80, too - if you want to champion getting this ready to work, go for it. For now, pausing the `Write` effort. Dropping it below the onboarding permissions Issue, b/c we should probably tackle those first.

[2020-06-05 16:34] iamjoshfrank commented on #74
Closing. I'm now tracking the follow-up efforts in a [Revelry content Issue.](https://github.com/revelrylabs/content/issues/965)

[2020-06-05 16:34] #74 closed

[2020-06-05 16:36] iamjoshfrank commented on #21
Ah. Yeah. Now I see that Milestone. Probably a good title helps with scannability in a long list of Issues. Thanks.

@vegasgeek - we still blocked on this?

[2020-06-05 16:37] iamjoshfrank commented on #20
@vegasgeek - we still blocked on this?

[2020-06-05 16:37] iamjoshfrank commented on #62
Still sitting in `Estimate`, maybe b/c we skipped that step but didn't click the skip button?

In any case, seems like this can be closed @Mcscott142 ?

[2020-06-05 16:54] vegasgeek commented on #20
@iamjoshfrank Yeah, still blocked. Let's pair up when you have a few minutes to chat and perhaps figure out a solution/workaround.

[2020-06-05 17:37] maryolivier opened #83 "Weird experiences on mobile app on Friday June 5"
- Settings button - leads to a blank screen
- Why can't we add a certain date that we tested positive on?
- Continue stationary (lat, long) notification coming up and I have no idea what that means
- The app is beeping when I reopen it
- I can toggle sharing my locations when I have a negative status, but I can't toggle that same permission when I have a positive status
- When I navigate to the lo

[2020-06-05 17:54] vegasgeek commented on #20
Yes, this is still blocked. Here's the issue:

In a normal setup, we have code living on Github and we use Travis to process the code and then push the code out to WPEngine. For this to happen, WPEngine requires an SSH key from Travis to authenticate. But, I've come to find out that Travis does not generate an SSH key for public repos. So, without a public key stored on WPEngine, when Travis tries

[2020-06-05 17:54] vegasgeek commented on #21
Yes, this is still blocked. Here's the issue:

In a normal setup, we have code living on Github and we use Travis to process the code and then push the code out to WPEngine. For this to happen, WPEngine requires an SSH key from Travis to authenticate. But, I've come to find out that Travis does not generate an SSH key for public repos. So, without a public key stored on WPEngine, when Travis tries

[2020-06-05 17:56] DejaTrudeaux commented on #56
not available in Testflight due to some issues currently trying to be resolved

edit: should be ready to test now

[2020-06-05 18:43] HauwaAguillard commented on #58
While we ( myself & @Samkeer1 )wait for content from @iamjoshfrank, in the meantime, we're going to use the content provided by Joel on the onboarding screens.

[2020-06-05 19:14] DejaTrudeaux commented on #81
looks like this notification will only happen during development, as per this comment: https://github.com/transistorsoft/react-native-background-geolocation/issues/919#issuecomment-562594941

so im going to go ahead and close this and we can ignore it for now, unless we see it in prod as well

[2020-06-05 19:24] DejaTrudeaux commented on #83
@maryolivier

- Settings button is gone on testflight newest version
- I think Neil is handling the date stuff in https://github.com/revelry-foundation/nightingale/issues/42
- Continue stationary is only something in debug mode, @Samkeer1 is handling in his current PR for #58. this should not happen in prod but only testflight and local:
https://github.com/revelry-foundation/nightingale/issues/81#

[2020-06-05 19:34] #81 closed, assigned to DejaTrudeaux

[2020-06-05 19:35] iamjoshfrank commented on #58
I do think the content will need updating to be better suited to the end users, but I haven't been able to redirect my focus to this Issue yet today.

I'll keep an eye on the PRs and if I have time this weekend, I may open a PR with strictly content changes. If not, then picking it back up Monday pending all priorities.

[2020-06-08 22:47] Samkeer1 commented on #58
kicked back because https://github.com/revelry-foundation/nightingale-mobile/pull/27#issuecomment-640758447 wasn't addressed

[2020-06-09 16:19] jwietelmann opened #84 "Mobile - Upgrade vulnerable npm dependencies"
We have a couple security vulnerabilities in our package-lock that we should upgrade away

[2020-06-09 16:32] jwietelmann commented on #84
https://github.com/revelry-foundation/nightingale-mobile/pull/29

[2020-06-09 21:12] Mcscott142 commented on #62
Re-opening for some changes and tracking my work here. Email from Veena:

[2020-06-09 21:31] wavemanstudio commented on #75
![Nightengale_LandingPortraits](https://user-images.githubusercontent.com/17013826/84202937-64eaa080-aa5d-11ea-88d7-c6e59fbf4bd5.jpg)
Here's the grid of portraits. We could sprinkle in the portraits from the other two illos if needed.
@jeremybrady @iamjoshfrank

[2020-06-09 21:47] Mcscott142 commented on #62
Done. Seems like it's working: https://scott142908.typeform.com/to/YWNtvZ. Closing this again.

[2020-06-09 21:47] #62 closed

[2020-06-14 23:11] #25 closed

[2020-06-30 16:35] jeremybrady opened #85 "Discovery Round 2 — Insight Research, Create a Validation Board"
## Background
Once a team member has conducted an interview, they should be ready to make a list of their core assumptions and risks to be used in the upcoming Design thinking exercises. We can do this using a Validation Board.

## Scenario: A Team Member creates a Validation board
- [ ] When I have conducted an interview and gone through the debrief (#86 & #87 )
- [ ] Then I create a Validation b

[2020-06-30 16:35] jeremybrady opened #86 "Discovery Round 2 — Insight Research, Post-interview debrief"
## Background
After we have conducted our interview, the interviewer and note-taker should discuss surprises and reflect on what they heard, then place their notes in the Discovery folder on the [project google drive](https://drive.google.com/drive/folders/18e5LHV2LyPUshdBdnfxe_9M4WEZ6Ms7K)

## Scenario: Team members debrief after an interview
- [ ] When I have conducted an interview
- [ ] Then I

[2020-06-30 16:35] jeremybrady opened #87 "Discovery Round 2 — Insight Research, Create a Place for Interview Notes, Recordings"
### Background
We need a place for in Google Drive for all of our discovery wrap up materials.

## Scenario: A user creates a G drive
- [ ] When I navigate to the [Round 2 G Drive](https://drive.google.com/drive/folders/1xPl4JGRzxYIBGvC4h2wjyD3clQDV1obg?usp=sharing)
- [ ] then I see a folder for Discovery
- [ ] And the team can safely move on to #86

[2020-06-30 16:35] jeremybrady opened #88 "Discovery Round 2 — Insight Research, Develop Interview Script & Conduct Interview"
## Background
Once we have completed the [recruitment and planning milestone](https://github.com/revelry-foundation/nightingale/milestone/5), we should have interviews scheduled and ready to roll in conducting them.

<details>
<summary>Interview Script</summary>

**Contact Tracing**
Discovery Contextual Inquiry

**Interview checklist**
Stakeholder and user interviews often progress through key mom

[2020-06-30 16:35] jeremybrady opened #89 "Discovery Round 2 — Insight Research, Reach out and schedule customer interview"
## Background
Once we have identified all of the candidates in <isue number here), we need to divide and conquer to schedule interviews and mark them as scheduled.

As for related issues, we have <issue here> for framing the design challenge question and <issue here> for laying out the interview script. Those can be worked in parallel with this issue, they just need to be ready by the time we cond

[2020-06-30 16:36] jeremybrady opened #90 "Discovery Round 2 — Insight Research, Identify Customer Pool"
## Background
We need to leverage our networks to develop an interview pool of Deans, Faculty/Department heads, faculty teachers, and students, both graduate and freshman/sophomore. We want 1:1 connections so that trust has already been established and we can quickly schedule and conduct the interviews for insight.

Again, the list of individuals we are looking for are as follows, 1:1 relationship

[2020-06-30 16:40] jeremybrady opened #91 "Discovery Round 2 — Contact Tracing App Brief"
### Background
Develop a contact tracing tool directed by Louisiana Department of Public Health

### When
- [x] Frame the design challenge as question using [the five whys](https://en.wikipedia.org/wiki/Five_whys)
_"How might we [insert problem] for [[audience/proto-persona](https://uxdesign.cc/ux-creating-proto-personas-76a1738401a2)] so that they can [perform action that solves for the problem]?

[2020-07-01 18:12] maryolivier commented on #90
Would like to help with this customer pool and interview process, I am in regular contact with staff members at 2 different schools within the state university.

[2020-07-01 18:29] maryolivier opened #92 "Branding - Change associated project repo names and any name references within to reflect name change"
## Background
nightingale-server, nightingale-cluster, nightingale-mobile, and nightingale-site all reference the old project name, "nightingale". We should rename these repo names to use "riddell", as well as changing any code within the repos to reflect the name change. This very well could be a small milestone, given the scope.

## Update [nightingale-server](https://github.com/revelry-foundati

[2020-07-01 19:19] jeremybrady commented on #90
Thanks for pitching in @maryolivier two asks;
Please share their background so we can see if they align w/ our persona
Can you please simultaneously coordinate w/ @HauwaAguillard Interviews.
Interviews must be concluded by today.

[2020-07-01 19:32] maryolivier commented on #90
@jeremybrady they are staff that have been working with and teaching students within the Music and Theatre schools at LSU for a while. They would be considered Faculty teachers. We can probably speak to the department heads through them.

It would be easier for me to conduct the interview myself using the script. I can probably get them on the phone before the end of the day, record, and share. If

[2020-07-01 19:34] HauwaAguillard commented on #90
@maryolivier I'd be happy to scribe the meetings for you. We do have a set of questions and key concerns we are looking at. Happy to hop on zoom to walk you through it

[2020-07-07 14:28] Mcscott142 opened #93 "Discovery - COVID Exposure (University setting) - Interviews and Validation Boards"
## Background
It was determined that this week we should dig into people's reactions to COVID exposure and what steps they would take. We'll do another round of interviews and create Validation boards. Then we'll run a more succinct version of a Design Studio with our findings.

## Scenario: Revelers interview candidates and capture output
- [ ] Schedule Interviews and Add Names to the [Google She

[2020-07-07 14:47] Mcscott142 commented on #93
@maryolivier If you'd like to participate in this week's design studio things I'd be happy to invite you to the project folder and studio exercises on Friday. We have a new set of questions we're going to try and re-interview most of the folks from last week. No pressure.

[2020-07-07 15:09] Mcscott142 commented on #93
Anyone is welcome to reach out to those that are listed as interviewed by Scott in the [interview list](https://docs.google.com/spreadsheets/d/1BJODD9lamdwJ5GfD-OVN53nP5BSR26IBqJk8-wlA3Es/edit#gid=0)

[2020-07-07 18:17] Mcscott142 opened #94 "Discovery - App Comparisons - Safepaths vs COVID Shield"
## Background
There are 2 competing Applications widely adopted for Contact Tracing right now. Safepaths and COVID Shield. Both are open source and may be utilized in an effort to push forward the questions below.

a.	How can we best promote the adoption and uptake of an exposure notification app?
b.	How can we best promote positive behavior change when you get a notification to isolate, get teste

[2020-07-07 19:08] jrotolo commented on #94
Picking up this ticket now.

[2020-07-10 22:33] Mcscott142 commented on #94
@jrotolo any updates here?

[2020-07-10 22:40] Mcscott142 commented on #94
Will drop additional notes but it's sounding like path check is the way to go. https://pathcheck.org/

[2020-07-10 22:40] #94 closed, assigned to jrotolo

[2020-07-13 22:33] #93 closed, assigned to jrotolo, Mcscott142, bmccrossen, HauwaAguillard

[2020-07-13 22:38] Mcscott142 opened #95 "Discovery - Reactive Contact Tracing - Interviews and Validation Boards"
## Background
We are diving into The current processes for reactive contact tracing using Salesforce. The Design Challenge question has been defined and is below. We'll use this issue to track out interviews and capture all of our output into the correct places in the Gdrive by following the checklist in the Scenario.

**Design Challenge:**

## Scenario: Revelers interview candidates and capture o

[2020-07-13 22:38] Mcscott142 opened #96 "Discovery - Reactive Contact Tracing - Frame the Question"

[2020-07-13 22:40] Mcscott142 opened #97 "Discovery - Reactive Contact Tracing - Interview Scipt"
## Background

TBD

[Old Script to build from](https://docs.google.com/document/d/1r1qexqqn8mP9OnBhvPbwscKRMdfWCgXkq9BGkGCT1wQ/edit)

[2020-07-13 22:42] Mcscott142 opened #98 "Discovery - Reactive Contact Tracing - Schedule Interviews"
## Background
We are beginning a Design Sprint to help with the turn around times in Contact Tracing for the Louisiana Dept of Health. We would like for interviews to be scheduled and conducted over the course of this week and the beginning of next (7/13/20-7/22/20). We will frame the question #96 and develop a script #97 prior to our first interviews later this week.

This issue is just for ident

[2020-07-13 23:02] Mcscott142 opened #99 "Define - COVID Exposure (University setting) - Slide Deck Presentation"
## Background
After all of the [Discovery](https://drive.google.com/drive/folders/1xPl4JGRzxYIBGvC4h2wjyD3clQDV1obg) efforts last week, we need to analyze our findings and make some recommendations around the specific Exposure Broad Hypothesis

[Previous Slide Deck to format from](https://docs.google.com/presentation/d/1Bwj0KqBrtXgTh12zyApu9AWnwXHLWnkcKOQHhaUfAOg/edit?usp=sharing)

[Mural Board](h

[2020-07-14 16:00] jeremybrady commented on #96
**Design Challenge:**
How might we best optimize the 30-50 mins we have someone, during testing, too;
- Better phone number veracity
- Nudge cases to get in touch with contacts - share status (I’m Sick); get them to sign up for symptom monitoring or something like this…
- Nudge people to wear masks better, stay away from people (better social distancing)
- Start the process for them to do contact

[2020-07-14 16:02] jeremybrady commented on #95
**[Identified customer pool personas within the google sheet](https://docs.google.com/spreadsheets/d/1zkMj0S19d8wnnAykLMDFo5GmarVNoYSFJYo3udKDF4U/edit?usp=sharing)**
- Call Center Agent (Has reached out to positive cases)
- Received test at Private Hospital
- Received test at Public Site (Drive-Thru etc.)
- Performs test at Public Site
- Performs test at Private Hospital
- Lab tech who processes r

[2020-07-14 16:06] jeremybrady commented on #97
[Creating new script here](https://docs.google.com/document/d/1r1qexqqn8mP9OnBhvPbwscKRMdfWCgXkq9BGkGCT1wQ/edit?usp=sharing) for [personas/customer pool outlined in our customer pool.](https://docs.google.com/spreadsheets/d/1zkMj0S19d8wnnAykLMDFo5GmarVNoYSFJYo3udKDF4U/edit?usp=sharing)

CC @Mcscott142 @HauwaAguillard @maryolivier @bmccrossen

[2020-07-14 20:20] Mcscott142 commented on #95
Updated Background and AC with Script #97 and Design Challenge HWM #96

[2020-07-14 20:20] Mcscott142 commented on #96
Added to #95. Closing this one.

[2020-07-14 20:20] #96 closed, assigned to Mcscott142

[2020-07-14 20:39] Mcscott142 commented on #95
@maryolivier It' won't let me assign you here for some reason but let's see if you can assign yourself.

[2020-07-14 22:06] Mcscott142 commented on #99
https://docs.google.com/presentation/d/1bcN4UMn2ILOedJSTR6ID54wRuAdfft-_rWWXjyWmFOI/edit?usp=sharing

[2020-07-14 22:06] #99 closed, assigned to nobody

[2020-07-16 17:46] HauwaAguillard commented on #95
Validation board for Raven is complete. @bmccrossen ready for review and feedback. Thanks!

[2020-07-16 21:52] HauwaAguillard commented on #95
Validation board for Cannon is complete. @jeremybrady ready for review and feedback. Thanks!

[2020-07-17 14:30] jeremybrady commented on #95
I'll be scheduling a "synthesizing data" discussion for Monday where we'll be consolidating our findings into one validation board. More to come soon.

@HauwaAguillard @maryoliver @Mcscott142 @bmccrossen for visibility.

[2020-07-17 20:48] HauwaAguillard commented on #95
Validation board for Dr. Mark is complete.

[2020-07-22 14:03] Mcscott142 commented on #97
Moved to LDH Repo
https://github.com/revelrylabs/LDH/issues/2
https://github.com/revelrylabs/LDH/issues/3

[2020-07-22 14:03] #97 closed, assigned to Mcscott142

[2021-03-02 19:32] #75 closed